# Homework 3: Census Population

## Task 0.

### Completed by:  Sebastian Perez

## Task 1

In [3]:
# import statements
import numpy as np
import pandas as pd

### ANSWER 1 i

In [4]:
print(pd.__version__)

2.2.2

## Task 2

In [5]:
pd.read_csv?

### 2 a

In [6]:
import os

os.chdir("C:/U of U/Data Science and Big Data")

statespopDF = pd.read_csv("census_statespop.csv")

### ANSWER 2 i

In [7]:
print(statespopDF.head(n=10), "\n")

                  STATE     REGION  POPESTIMATE2010  POPESTIMATE2011  \
0               Alabama      South        4785437.0        4799069.0
1                Alaska       West         713910.0         722128.0
2               Arizona       West        6407172.0        6472643.0
3              Arkansas      South        2921964.0        2940667.0
4            California       West       37319502.0       37638369.0
5              Colorado       West        5047349.0        5121108.0
6           Connecticut  Northeast        3579114.0        3588283.0
7              Delaware      South         899593.0         907381.0
8  District of Columbia        NaN         605226.0         619800.0
9               Florida      South       18845537.0       19053237.0

   POPESTIMATE2012  POPESTIMATE2013  POPESTIMATE2014  POPESTIMATE2015  \
0        4815588.0        4830081.0        4841799.0        4852347.0
1         730443.0         737068.0         736283.0         737498.0
2        6554978.0        6632764.0        6730413.0        6829676.0
3        2952164.0        2959400.0        2967392.0        2978048.0
4       37948800.0       38260787.0       38596972.0       38918045.0
5        5192647.0        5269035.0        5350101.0        5450623.0
6        3594547.0        3594841.0        3594524.0        3587122.0
7         915179.0         923576.0         932487.0         941252.0
8         634924.0         650581.0         662328.0         675400.0
9       19297822.0       19545621.0       19845911.0       20209042.0

   POPESTIMATE2016  POPESTIMATE2017  POPESTIMATE2018  POPESTIMATE2019
0        4863525.0        4874486.0        4887681.0        4903185.0
1         741456.0         739700.0         735139.0         731545.0
2        6941072.0        7044008.0        7158024.0        7278717.0
3        2989918.0        3001345.0        3009733.0        3017804.0
4       39167117.0       39358497.0       39461588.0       39512223.0
5        5539215.0        5611885.0        5691287.0        5758736.0
6        3578141.0        3573297.0        3571520.0        3565287.0
7         948921.0         956823.0         965479.0         973764.0
8         685815.0         694906.0         701547.0         705749.0
9       20613477.0       20963613.0       21244317.0       21477737.0

### 2 b

In [8]:
statespopDF = pd.read_csv("census_statespop.csv",
                          sep = ',',
                          header = 0,
                          names = ['Region'] + [i for i in range (10, 20)],
                          index_col = 0)
statespopDF.head(n = 5)

,Region,10,11,12,13,14,15,16,17,18,19
Alabama,South,4785437.0,4799069.0,4815588.0,4830081.0,4841799.0,4852347.0,4863525.0,4874486.0,4887681.0,4903185.0
Alaska,West,713910.0,722128.0,730443.0,737068.0,736283.0,737498.0,741456.0,739700.0,735139.0,731545.0
Arizona,West,6407172.0,6472643.0,6554978.0,6632764.0,6730413.0,6829676.0,6941072.0,7044008.0,7158024.0,7278717.0
Arkansas,South,2921964.0,2940667.0,2952164.0,2959400.0,2967392.0,2978048.0,2989918.0,3001345.0,3009733.0,3017804.0
California,West,37319502.0,37638369.0,37948800.0,38260787.0,38596972.0,38918045.0,39167117.0,39358497.0,39461588.0,39512223.0

### ANSWER 2 ii

In [9]:
statespopDF = pd.read_csv("census_statespop.csv",
                          sep=',',
                          header=0,
                          names=['Region'] + [f"y{year}" for year in range(2010, 2020)],
                          index_col=0)

print(statespopDF.head())

           Region       y2010       y2011       y2012       y2013       y2014  \
Alabama     South   4785437.0   4799069.0   4815588.0   4830081.0   4841799.0
Alaska       West    713910.0    722128.0    730443.0    737068.0    736283.0
Arizona      West   6407172.0   6472643.0   6554978.0   6632764.0   6730413.0
Arkansas    South   2921964.0   2940667.0   2952164.0   2959400.0   2967392.0
California   West  37319502.0  37638369.0  37948800.0  38260787.0  38596972.0

                 y2015       y2016       y2017       y2018       y2019
Alabama      4852347.0   4863525.0   4874486.0   4887681.0   4903185.0
Alaska        737498.0    741456.0    739700.0    735139.0    731545.0
Arizona      6829676.0   6941072.0   7044008.0   7158024.0   7278717.0
Arkansas     2978048.0   2989918.0   3001345.0   3009733.0   3017804.0
California  38918045.0  39167117.0  39358497.0  39461588.0  39512223.0

## Task 3

In [10]:
print(statespopDF.dtypes)
print(statespopDF.shape)
print(statespopDF.size)
print(statespopDF.index)
print(statespopDF.columns)

Region     object
y2010     float64
y2011     float64
y2012     float64
y2013     float64
y2014     float64
y2015     float64
y2016     float64
y2017     float64
y2018     float64
y2019     float64
dtype: object
(54, 11)
594
Index([             'Alabama',               'Alaska',              'Arizona',
                   'Arkansas',           'California',             'Colorado',
                'Connecticut',             'Delaware', 'District of Columbia',
                    'Florida',              'Georgia',               'Hawaii',
                      'Idaho',             'Illinois',              'Indiana',
                       'Iowa',               'Kansas',             'Kentucky',
                  'Louisiana',                'Maine',             'Maryland',
              'Massachusetts',             'Michigan',            'Minnesota',
                'Mississippi',             'Missouri',              'Montana',
                   'Nebraska',               'Nevada',        'New Hampshire',
                 'New Jersey',           'New Mexico',             'New York',
             'North Carolina',         'North Dakota',                 'Ohio',
                   'Oklahoma',               'Oregon',         'Pennsylvania',
               'Rhode Island',       'South Carolina',         'South Dakota',
                  'Tennessee',                'Texas',                 'Utah',
                    'Vermont',             'Virginia',           'Washington',
              'West Virginia',            'Wisconsin',              'Wyoming',
                          nan,          'Puerto Rico',               'Hawaii'],
      dtype='object')
Index(['Region', 'y2010', 'y2011', 'y2012', 'y2013', 'y2014', 'y2015', 'y2016',
       'y2017', 'y2018', 'y2019'],
      dtype='object')

### ANSWER 3 i

`DF.shape` gives us the dimensions of the DF. Since Python always works in (row,column) order, there are 54 rows and 11 columns.

In [11]:
print(statespopDF.shape)

(54, 11)

### ANSWER 3 ii

`Object` class in Python is string.

In [12]:
print(statespopDF.columns.dtype)

print(statespopDF.columns.map(type))

object
Index([<class 'str'>, <class 'str'>, <class 'str'>, <class 'str'>,
       <class 'str'>, <class 'str'>, <class 'str'>, <class 'str'>,
       <class 'str'>, <class 'str'>, <class 'str'>],
      dtype='object')

## Task 4

### 4 a

In [13]:
statespopDF['Region'].head()

Alabama       South
Alaska         West
Arizona        West
Arkansas      South
California     West
Name: Region, dtype: object

In [14]:
statespopDF[['Region']].head()

           Region
Alabama     South
Alaska       West
Arizona      West
Arkansas    South
California   West

In [15]:
statespopDF[['Region','y2010','y2011']].head()

           Region       y2010       y2011
Alabama     South   4785437.0   4799069.0
Alaska       West    713910.0    722128.0
Arizona      West   6407172.0   6472643.0
Arkansas    South   2921964.0   2940667.0
California   West  37319502.0  37638369.0

### 4 b

In [16]:
statespopDF.loc['Georgia']

Region         South
y2010      9711881.0
y2011      9802431.0
y2012      9901430.0
y2013      9972479.0
y2014     10067278.0
y2015     10178447.0
y2016     10301890.0
y2017     10410330.0
y2018     10511131.0
y2019     10617423.0
Name: Georgia, dtype: object

In [17]:
statespopDF.loc['Georgia',:]

Region         South
y2010      9711881.0
y2011      9802431.0
y2012      9901430.0
y2013      9972479.0
y2014     10067278.0
y2015     10178447.0
y2016     10301890.0
y2017     10410330.0
y2018     10511131.0
y2019     10617423.0
Name: Georgia, dtype: object

In [18]:
statespopDF.loc['Georgia':'Minnesota']

,Region,y2010,y2011,y2012,y2013,y2014,y2015,y2016,y2017,y2018,y2019
Georgia,South,9711881.0,9802431.0,9901430.0,9972479.0,10067278.0,10178447.0,10301890.0,10410330.0,10511131.0,10617423.0
Hawaii,West,1363963.0,1379329.0,1394804.0,1408243.0,1414538.0,1422052.0,1427559.0,1424393.0,1420593.0,1415872.0
Idaho,West,1570746.0,1583910.0,1595324.0,1611206.0,1631112.0,1651059.0,1682380.0,1717715.0,1750536.0,1787065.0
Illinois,Midwest,12840503.0,12867454.0,12882510.0,12895129.0,12884493.0,12858913.0,12820527.0,12778828.0,12723071.0,12671821.0
Indiana,Midwest,6490432.0,6516528.0,6537703.0,6568713.0,6593644.0,6608422.0,6634304.0,6658078.0,6695497.0,6732219.0
Iowa,Midwest,3050745.0,3066336.0,3076190.0,3092997.0,3109350.0,3120960.0,3131371.0,3141550.0,3148618.0,3155070.0
Kansas,Midwest,2858190.0,2869225.0,2885257.0,2893212.0,2900475.0,2909011.0,2910844.0,2908718.0,2911359.0,2913314.0
Kentucky,South,4348181.0,4369821.0,4386346.0,4404659.0,4414349.0,4425976.0,4438182.0,4452268.0,4461153.0,4467673.0
Louisiana,South,4544532.0,4575625.0,4600972.0,4624527.0,4644013.0,4664628.0,4678135.0,4670560.0,4659690.0,4648794.0
Maine,Northeast,1327629.0,1328284.0,1327729.0,1328009.0,1330513.0,1328262.0,1331317.0,1334612.0,1339057.0,1344212.0
Maryland,South,5788645.0,5839419.0,5886992.0,5923188.0,5957283.0,5985562.0,6003323.0,6023868.0,6035802.0,6045680.0
Massachusetts,Northeast,6566307.0,6613583.0,6663005.0,6713315.0,6762596.0,6794228.0,6823608.0,6859789.0,6882635.0,6892503.0
Michigan,Midwest,9877510.0,9882412.0,9897145.0,9913065.0,9929848.0,9931715.0,9950571.0,9973114.0,9984072.0,9986857.0
Minnesota,Midwest,5310828.0,5346143.0,5376643.0,5413479.0,5451079.0,5482032.0,5522744.0,5566230.0,5606249.0,5639632.0

In [19]:

statespopDF.loc[:,['Region','y2015']].head()

           Region       y2015
Alabama     South   4852347.0
Alaska       West    737498.0
Arizona      West   6829676.0
Arkansas    South   2978048.0
California   West  38918045.0

### ANSWER 4 i

In [20]:
display(statespopDF.loc[:,'y2011':'y2019':2].head(n=5))

display(statespopDF.iloc[:,2::2].head(n=5))

                 y2011       y2013       y2015       y2017       y2019
Alabama      4799069.0   4830081.0   4852347.0   4874486.0   4903185.0
Alaska        722128.0    737068.0    737498.0    739700.0    731545.0
Arizona      6472643.0   6632764.0   6829676.0   7044008.0   7278717.0
Arkansas     2940667.0   2959400.0   2978048.0   3001345.0   3017804.0
California  37638369.0  38260787.0  38918045.0  39358497.0  39512223.0

                 y2011       y2013       y2015       y2017       y2019
Alabama      4799069.0   4830081.0   4852347.0   4874486.0   4903185.0
Alaska        722128.0    737068.0    737498.0    739700.0    731545.0
Arizona      6472643.0   6632764.0   6829676.0   7044008.0   7278717.0
Arkansas     2940667.0   2959400.0   2978048.0   3001345.0   3017804.0
California  37638369.0  38260787.0  38918045.0  39358497.0  39512223.0

### ANSWER 4 ii

In [21]:
statespopDF.loc['Georgia':'Indiana','y2012':'y2015']

               y2012       y2013       y2014       y2015
Georgia    9901430.0   9972479.0  10067278.0  10178447.0
Hawaii     1394804.0   1408243.0   1414538.0   1422052.0
Idaho      1595324.0   1611206.0   1631112.0   1651059.0
Illinois  12882510.0  12895129.0  12884493.0  12858913.0
Indiana    6537703.0   6568713.0   6593644.0   6608422.0

### ANSWER 4iii

In [22]:
statespopDF.loc[['Georgia','Utah', 'Indiana'],'y2012':'y2016':2]

             y2012       y2014       y2016
Georgia  9901430.0  10067278.0  10301890.0
Utah     2853375.0   2936879.0   3041868.0
Indiana  6537703.0   6593644.0   6634304.0

### 4 c

In [23]:
statespopDF.iloc[0,]

Region        South
y2010     4785437.0
y2011     4799069.0
y2012     4815588.0
y2013     4830081.0
y2014     4841799.0
y2015     4852347.0
y2016     4863525.0
y2017     4874486.0
y2018     4887681.0
y2019     4903185.0
Name: Alabama, dtype: object

In [24]:
statespopDF.iloc[0, :]

Region        South
y2010     4785437.0
y2011     4799069.0
y2012     4815588.0
y2013     4830081.0
y2014     4841799.0
y2015     4852347.0
y2016     4863525.0
y2017     4874486.0
y2018     4887681.0
y2019     4903185.0
Name: Alabama, dtype: object

In [25]:
statespopDF.iloc[: ,0].head()

Alabama       South
Alaska         West
Arizona        West
Arkansas      South
California     West
Name: Region, dtype: object

In [26]:
statespopDF.iloc[:,1::2].head()

                 y2010       y2012       y2014       y2016       y2018
Alabama      4785437.0   4815588.0   4841799.0   4863525.0   4887681.0
Alaska        713910.0    730443.0    736283.0    741456.0    735139.0
Arizona      6407172.0   6554978.0   6730413.0   6941072.0   7158024.0
Arkansas     2921964.0   2952164.0   2967392.0   2989918.0   3009733.0
California  37319502.0  37948800.0  38596972.0  39167117.0  39461588.0

In [27]:
statespopDF.iloc[[0,2], [3,5]]

             y2012      y2014
Alabama  4815588.0  4841799.0
Arizona  6554978.0  6730413.0

### ANSWER 4 iv

In [28]:
print(statespopDF.iloc[::2,0].head(n=8))

Alabama                     South
Arizona                      West
California                   West
Connecticut             Northeast
District of Columbia          NaN
Georgia                     South
Idaho                        West
Indiana                   Midwest
Name: Region, dtype: object

## Task 5

### 5 a

In [29]:
statespopDF.isnull().any()

Region    True
y2010     True
y2011     True
y2012     True
y2013     True
y2014     True
y2015     True
y2016     True
y2017     True
y2018     True
y2019     True
dtype: bool

In [30]:
statespopDF.isnull().any(axis = 0)

Region    True
y2010     True
y2011     True
y2012     True
y2013     True
y2014     True
y2015     True
y2016     True
y2017     True
y2018     True
y2019     True
dtype: bool

### ANSWER 5 i

In [31]:
statespopDF.isnull().all().sum()

0

### 5 b

In [32]:
statespopDF.count()

Region    51
y2010     53
y2011     53
y2012     53
y2013     53
y2014     53
y2015     53
y2016     53
y2017     53
y2018     53
y2019     53
dtype: int64

### ANSWER 5ii

In [33]:
statespopDF.count(axis = 1)

Alabama                 11
Alaska                  11
Arizona                 11
Arkansas                11
California              11
Colorado                11
Connecticut             11
Delaware                11
District of Columbia    10
Florida                 11
Georgia                 11
Hawaii                  11
Idaho                   11
Illinois                11
Indiana                 11
Iowa                    11
Kansas                  11
Kentucky                11
Louisiana               11
Maine                   11
Maryland                11
Massachusetts           11
Michigan                11
Minnesota               11
Mississippi             11
Missouri                11
Montana                 11
Nebraska                11
Nevada                  11
New Hampshire           11
New Jersey              11
New Mexico              11
New York                11
North Carolina          11
North Dakota            11
Ohio                    11
Oklahoma                11
Oregon                  11
Pennsylvania            11
Rhode Island            11
South Carolina          11
South Dakota            11
Tennessee               11
Texas                   11
Utah                    11
Vermont                 11
Virginia                11
Washington              11
West Virginia           11
Wisconsin               11
Wyoming                 11
NaN                      0
Puerto Rico             10
Hawaii                  11
dtype: int64

### 5 c

In [34]:
statespopDF.loc[statespopDF.isnull().all(axis=1)]

,Region,y2010,y2011,y2012,y2013,y2014,y2015,y2016,y2017,y2018,y2019
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
statespopDF.loc[:,statespopDF.isnull().all(axis=0)]

Empty DataFrame
Columns: []
Index: [Alabama, Alaska, Arizona, Arkansas, California, Colorado, Connecticut, Delaware, District of Columbia, Florida, Georgia, Hawaii, Idaho, Illinois, Indiana, Iowa, Kansas, Kentucky, Louisiana, Maine, Maryland, Massachusetts, Michigan, Minnesota, Mississippi, Missouri, Montana, Nebraska, Nevada, New Hampshire, New Jersey, New Mexico, New York, North Carolina, North Dakota, Ohio, Oklahoma, Oregon, Pennsylvania, Rhode Island, South Carolina, South Dakota, Tennessee, Texas, Utah, Vermont, Virginia, Washington, West Virginia, Wisconsin, Wyoming, nan, Puerto Rico, Hawaii]

In [36]:
statespopDF_dropna = statespopDF.dropna(axis = 0, how = 'all')
statespopDF_dropna.shape

(53, 11)

### 5 d

In [37]:
statespopDF_dropna['Region'].unique()

array(['South', 'West', 'Northeast', nan, 'Midwest'], dtype=object)

In [38]:
statespopDF_dropna['Region'].value_counts()

Region
South        16
West         14
Midwest      12
Northeast     9
Name: count, dtype: int64

### ANSWER 5 iii

In [39]:
statespopDF_dropna['Region'].value_counts(normalize = True)

Region
South        0.313725
West         0.274510
Midwest      0.235294
Northeast    0.176471
Name: proportion, dtype: float64

### 5 e

In [40]:
statespopDF_dropna.duplicated().value_counts()

False    52
True      1
Name: count, dtype: int64

In [41]:
statespopDF_dropnadup = statespopDF_dropna.drop_duplicates(keep = 'first', inplace = False)
statespopDF_dropnadup.duplicated().value_counts()

False    52
Name: count, dtype: int64

### ANSWER 5 iv

In [42]:
statespopDF_dropnadup.shape

(52, 11)

## Task 6

### 6 a

In [43]:
popDF = statespopDF_dropnadup.copy()

### ANSWER 6 i

True since **DF_b = DF_a** would be referencing to the same memory space. Making changes in either, will reflect in both.

### 6 b

In [44]:
popDF.to_csv('popDF.csv', header = True, index = True)

### ANSWER 6 ii

header = True

### 6 c

In [45]:
pd.read_csv('popDF.csv', index_col = 0).head()

,Region,y2010,y2011,y2012,y2013,y2014,y2015,y2016,y2017,y2018,y2019
Alabama,South,4785437.0,4799069.0,4815588.0,4830081.0,4841799.0,4852347.0,4863525.0,4874486.0,4887681.0,4903185.0
Alaska,West,713910.0,722128.0,730443.0,737068.0,736283.0,737498.0,741456.0,739700.0,735139.0,731545.0
Arizona,West,6407172.0,6472643.0,6554978.0,6632764.0,6730413.0,6829676.0,6941072.0,7044008.0,7158024.0,7278717.0
Arkansas,South,2921964.0,2940667.0,2952164.0,2959400.0,2967392.0,2978048.0,2989918.0,3001345.0,3009733.0,3017804.0
California,West,37319502.0,37638369.0,37948800.0,38260787.0,38596972.0,38918045.0,39167117.0,39358497.0,39461588.0,39512223.0

In [46]:
popDF = popDF.astype(
    {'y2019': int,
     'y2018': int,
     'y2017': int,
     'y2016': int,
     'y2015': int,
     'y2014': int,
     'y2013': int,
     'y2012': int,
     'y2011': int,
     'y2010': int,
    })
popDF.head()

,Region,y2010,y2011,y2012,y2013,y2014,y2015,y2016,y2017,y2018,y2019
Alabama,South,4785437,4799069,4815588,4830081,4841799,4852347,4863525,4874486,4887681,4903185
Alaska,West,713910,722128,730443,737068,736283,737498,741456,739700,735139,731545
Arizona,West,6407172,6472643,6554978,6632764,6730413,6829676,6941072,7044008,7158024,7278717
Arkansas,South,2921964,2940667,2952164,2959400,2967392,2978048,2989918,3001345,3009733,3017804
California,West,37319502,37638369,37948800,38260787,38596972,38918045,39167117,39358497,39461588,39512223

In [47]:
popDF.dtypes

Region    object
y2010      int32
y2011      int32
y2012      int32
y2013      int32
y2014      int32
y2015      int32
y2016      int32
y2017      int32
y2018      int32
y2019      int32
dtype: object

## Task 7

### 7 a

In [48]:
popDF.loc[popDF['y2019'] > 10000000]

,Region,y2010,y2011,y2012,y2013,y2014,y2015,y2016,y2017,y2018,y2019
California,West,37319502,37638369,37948800,38260787,38596972,38918045,39167117,39358497,39461588,39512223
Florida,South,18845537,19053237,19297822,19545621,19845911,20209042,20613477,20963613,21244317,21477737
Georgia,South,9711881,9802431,9901430,9972479,10067278,10178447,10301890,10410330,10511131,10617423
Illinois,Midwest,12840503,12867454,12882510,12895129,12884493,12858913,12820527,12778828,12723071,12671821
New York,Northeast,19399878,19499241,19572932,19624447,19651049,19654666,19633428,19589572,19530351,19453561
North Carolina,South,9574323,9657592,9749476,9843336,9932887,10031646,10154788,10268233,10381615,10488084
Ohio,Midwest,11539336,11544663,11548923,11576684,11602700,11617527,11634370,11659650,11676341,11689100
Pennsylvania,Northeast,12711160,12745815,12767118,12776309,12788313,12784826,12782275,12787641,12800922,12801989
Texas,South,25241971,25645629,26084481,26480266,26964333,27470056,27914410,28295273,28628666,28995881

### ANSWER 7 i

In [49]:
popDF.loc[popDF['Region'] == 'Northeast', ['Region','y2016','y2019']]

                  Region     y2016     y2019
Connecticut    Northeast   3578141   3565287
Maine          Northeast   1331317   1344212
Massachusetts  Northeast   6823608   6892503
New Hampshire  Northeast   1342307   1359711
New Jersey     Northeast   8870827   8882190
New York       Northeast  19633428  19453561
Pennsylvania   Northeast  12782275  12801989
Rhode Island   Northeast   1056770   1059361
Vermont        Northeast    623657    623989

### ANSWER 7 ii

In [50]:
popDF.loc[(popDF['y2012'] > 10000000) & (popDF['y2012'] < 20000000) , ['Region','y2012','y2019']]

                 Region     y2012     y2019
Florida           South  19297822  21477737
Illinois        Midwest  12882510  12671821
New York      Northeast  19572932  19453561
Ohio            Midwest  11548923  11689100
Pennsylvania  Northeast  12767118  12801989

### 7 b

In [51]:
popDF.loc[popDF['Region'].isin(['Midwest']), ['Region','y2010','y2019']].head()

           Region     y2010     y2019
Illinois  Midwest  12840503  12671821
Indiana   Midwest   6490432   6732219
Iowa      Midwest   3050745   3155070
Kansas    Midwest   2858190   2913314
Michigan  Midwest   9877510   9986857

In [52]:
popDF.loc[popDF.index.isin(["Connecticut"])]

,Region,y2010,y2011,y2012,y2013,y2014,y2015,y2016,y2017,y2018,y2019
Connecticut,Northeast,3579114,3588283,3594547,3594841,3594524,3587122,3578141,3573297,3571520,3565287

### ANSWER 7 iii

In [53]:
popDF.loc[(~popDF['Region'].isin(['Midwest','Northeast'])) & (popDF['y2018'] > 10000000),['Region','y2018']]

               Region     y2018
California       West  39461588
Florida         South  21244317
Georgia         South  10511131
North Carolina  South  10381615
Texas           South  28628666

### 7 c

In [54]:
popDF.filter(like = "New", axis = 0)

,Region,y2010,y2011,y2012,y2013,y2014,y2015,y2016,y2017,y2018,y2019
New Hampshire,Northeast,1316762,1320202,1324232,1326622,1333341,1336350,1342307,1348787,1353465,1359711
New Jersey,Northeast,8799446,8828117,8844942,8856972,8864525,8867949,8870827,8885525,8886025,8882190
New Mexico,West,2064552,2080450,2087309,2092273,2089568,2089291,2091630,2091784,2092741,2096829
New York,Northeast,19399878,19499241,19572932,19624447,19651049,19654666,19633428,19589572,19530351,19453561

In [55]:
popDF.filter(items = ["Utah","Colorado","Arizona"], axis = 0)

,Region,y2010,y2011,y2012,y2013,y2014,y2015,y2016,y2017,y2018,y2019
Utah,West,2775332,2814384,2853375,2897640,2936879,2981835,3041868,3101042,3153550,3205958
Colorado,West,5047349,5121108,5192647,5269035,5350101,5450623,5539215,5611885,5691287,5758736
Arizona,West,6407172,6472643,6554978,6632764,6730413,6829676,6941072,7044008,7158024,7278717

In [56]:
#To select states that have one or more spaces in their name
popDF.filter(regex = r"\s+", axis = 0)

,Region,y2010,y2011,y2012,y2013,y2014,y2015,y2016,y2017,y2018,y2019
District of Columbia,NaN,605226,619800,634924,650581,662328,675400,685815,694906,701547,705749
New Hampshire,Northeast,1316762,1320202,1324232,1326622,1333341,1336350,1342307,1348787,1353465,1359711
New Jersey,Northeast,8799446,8828117,8844942,8856972,8864525,8867949,8870827,8885525,8886025,8882190
New Mexico,West,2064552,2080450,2087309,2092273,2089568,2089291,2091630,2091784,2092741,2096829
New York,Northeast,19399878,19499241,19572932,19624447,19651049,19654666,19633428,19589572,19530351,19453561
North Carolina,South,9574323,9657592,9749476,9843336,9932887,10031646,10154788,10268233,10381615,10488084
North Dakota,Midwest,674715,685225,701176,722036,737401,754066,754434,754942,758080,762062
Rhode Island,Northeast,1053959,1053649,1054621,1055081,1055936,1056065,1056770,1055673,1058287,1059361
South Carolina,South,4635649,4671994,4717354,4764080,4823617,4891938,4957968,5021268,5084156,5148714
South Dakota,Midwest,816166,823579,833566,842316,849129,853988,862996,872868,878698,884659
West Virginia,South,1854239,1856301,1856872,1853914,1849489,1842050,1831023,1817004,1804291,1792147
Puerto Rico,NaN,3721525,3678732,3634488,3593077,3534874,3473232,3406672,3325286,3193354,3193694

In [57]:
#To select all states that have double letters
popDF.filter(regex = "([A-Za-z])\\1", axis = 0)

,Region,y2010,y2011,y2012,y2013,y2014,y2015,y2016,y2017,y2018,y2019
Connecticut,Northeast,3579114,3588283,3594547,3594841,3594524,3587122,3578141,3573297,3571520,3565287
Hawaii,West,1363963,1379329,1394804,1408243,1414538,1422052,1427559,1424393,1420593,1415872
Illinois,Midwest,12840503,12867454,12882510,12895129,12884493,12858913,12820527,12778828,12723071,12671821
Massachusetts,Northeast,6566307,6613583,6663005,6713315,6762596,6794228,6823608,6859789,6882635,6892503
Minnesota,Midwest,5310828,5346143,5376643,5413479,5451079,5482032,5522744,5566230,5606249,5639632
Mississippi,South,2970548,2978731,2983816,2988711,2990468,2988471,2987938,2988510,2981020,2976149
Missouri,Midwest,5995974,6010275,6024367,6040715,6056202,6071732,6087135,6106670,6121623,6137428
Pennsylvania,Northeast,12711160,12745815,12767118,12776309,12788313,12784826,12782275,12787641,12800922,12801989
Tennessee,South,6355311,6399291,6453898,6494340,6541223,6591170,6646010,6708799,6771631,6829174

In [58]:
#To select the rows that contain the word New in the state name
popDF.loc[popDF.index.str.startswith ("New")]

,Region,y2010,y2011,y2012,y2013,y2014,y2015,y2016,y2017,y2018,y2019
New Hampshire,Northeast,1316762,1320202,1324232,1326622,1333341,1336350,1342307,1348787,1353465,1359711
New Jersey,Northeast,8799446,8828117,8844942,8856972,8864525,8867949,8870827,8885525,8886025,8882190
New Mexico,West,2064552,2080450,2087309,2092273,2089568,2089291,2091630,2091784,2092741,2096829
New York,Northeast,19399878,19499241,19572932,19624447,19651049,19654666,19633428,19589572,19530351,19453561

### ANSWER 7 iv

In [59]:
popDF.loc[(popDF.index.str.startswith ("G")) | (popDF.index.str.startswith ("H")) | (popDF.index.str.startswith ("I"))]

,Region,y2010,y2011,y2012,y2013,y2014,y2015,y2016,y2017,y2018,y2019
Georgia,South,9711881,9802431,9901430,9972479,10067278,10178447,10301890,10410330,10511131,10617423
Hawaii,West,1363963,1379329,1394804,1408243,1414538,1422052,1427559,1424393,1420593,1415872
Idaho,West,1570746,1583910,1595324,1611206,1631112,1651059,1682380,1717715,1750536,1787065
Illinois,Midwest,12840503,12867454,12882510,12895129,12884493,12858913,12820527,12778828,12723071,12671821
Indiana,Midwest,6490432,6516528,6537703,6568713,6593644,6608422,6634304,6658078,6695497,6732219
Iowa,Midwest,3050745,3066336,3076190,3092997,3109350,3120960,3131371,3141550,3148618,3155070

 ## Task 8

### 8 a

In [60]:
#Changing the year column names to remove the y, and keep just the number, e.g., 2010, 2011, etc.
popDF.rename(columns = 
            {x: x[-4:] for x in statespopDF.columns[1:]}).head()

,Region,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
Alabama,South,4785437,4799069,4815588,4830081,4841799,4852347,4863525,4874486,4887681,4903185
Alaska,West,713910,722128,730443,737068,736283,737498,741456,739700,735139,731545
Arizona,West,6407172,6472643,6554978,6632764,6730413,6829676,6941072,7044008,7158024,7278717
Arkansas,South,2921964,2940667,2952164,2959400,2967392,2978048,2989918,3001345,3009733,3017804
California,West,37319502,37638369,37948800,38260787,38596972,38918045,39167117,39358497,39461588,39512223

### ANSWER 8 i

In [61]:
popDF.rename(columns = 
            {x: f"y{str(x[-2:])}" for x in statespopDF.columns[1:]}).head()

,Region,y10,y11,y12,y13,y14,y15,y16,y17,y18,y19
Alabama,South,4785437,4799069,4815588,4830081,4841799,4852347,4863525,4874486,4887681,4903185
Alaska,West,713910,722128,730443,737068,736283,737498,741456,739700,735139,731545
Arizona,West,6407172,6472643,6554978,6632764,6730413,6829676,6941072,7044008,7158024,7278717
Arkansas,South,2921964,2940667,2952164,2959400,2967392,2978048,2989918,3001345,3009733,3017804
California,West,37319502,37638369,37948800,38260787,38596972,38918045,39167117,39358497,39461588,39512223

### 8 b

In [62]:
popDF_newindex = popDF.reset_index()
popDF_newindex.head(n=5)

,index,Region,y2010,y2011,y2012,y2013,y2014,y2015,y2016,y2017,y2018,y2019
0,Alabama,South,4785437,4799069,4815588,4830081,4841799,4852347,4863525,4874486,4887681,4903185
1,Alaska,West,713910,722128,730443,737068,736283,737498,741456,739700,735139,731545
2,Arizona,West,6407172,6472643,6554978,6632764,6730413,6829676,6941072,7044008,7158024,7278717
3,Arkansas,South,2921964,2940667,2952164,2959400,2967392,2978048,2989918,3001345,3009733,3017804
4,California,West,37319502,37638369,37948800,38260787,38596972,38918045,39167117,39358497,39461588,39512223

In [63]:
popDF_newindex = popDF_newindex.set_index('index')
popDF_newindex.head(n=5)

,Region,y2010,y2011,y2012,y2013,y2014,y2015,y2016,y2017,y2018,y2019
index,,,,,,,,,,,
Alabama,South,4785437,4799069,4815588,4830081,4841799,4852347,4863525,4874486,4887681,4903185
Alaska,West,713910,722128,730443,737068,736283,737498,741456,739700,735139,731545
Arizona,West,6407172,6472643,6554978,6632764,6730413,6829676,6941072,7044008,7158024,7278717
Arkansas,South,2921964,2940667,2952164,2959400,2967392,2978048,2989918,3001345,3009733,3017804
California,West,37319502,37638369,37948800,38260787,38596972,38918045,39167117,39358497,39461588,39512223

### 8 c

In [212]:
popDF_newindex.drop(['y2010'], axis = 1, inplace = True, errors = 'ignore')
popDF_newindex.head()

,Region,y2011,y2012,y2013,y2014,y2015,y2016,y2017,y2018,y2019
index,,,,,,,,,,
Alabama,South,4799069,4815588,4830081,4841799,4852347,4863525,4874486,4887681,4903185
Alaska,West,722128,730443,737068,736283,737498,741456,739700,735139,731545
Arizona,West,6472643,6554978,6632764,6730413,6829676,6941072,7044008,7158024,7278717
Arkansas,South,2940667,2952164,2959400,2967392,2978048,2989918,3001345,3009733,3017804
California,West,37638369,37948800,38260787,38596972,38918045,39167117,39358497,39461588,39512223

### ANSWER 8 ii

If a specified label is not found, it raises the error of not finding a specified label, instead of ignoring it.

## Task 9

### 9 a

In [215]:
#Create a new column copied from Region column and change some of its values
popDF['RegionAll'] = popDF['Region']

In [216]:
bmask = popDF['RegionAll'].isna()
popDF.loc[bmask, ['Region', 'RegionAll']]

                     Region RegionAll
District of Columbia    NaN       NaN
Puerto Rico             NaN       NaN

### ANSWER 9 i

True

### 9 b

In [224]:
popDF.loc['District of Columbia','RegionAll'] = "DC"
popDF.loc['Puerto Rico','RegionAll'] = "PR"
popDF.loc[bmask, ['Region','RegionAll'],]

                     Region RegionAll
District of Columbia    NaN        DC
Puerto Rico             NaN        PR

### 9 c

In [227]:
statespopDF.sort_values(['Region','y2010']).head()

,Region,y2010,y2011,y2012,y2013,y2014,y2015,y2016,y2017,y2018,y2019
North Dakota,Midwest,674715.0,685225.0,701176.0,722036.0,737401.0,754066.0,754434.0,754942.0,758080.0,762062.0
South Dakota,Midwest,816166.0,823579.0,833566.0,842316.0,849129.0,853988.0,862996.0,872868.0,878698.0,884659.0
Nebraska,Midwest,1829542.0,1840672.0,1853303.0,1865279.0,1879321.0,1891277.0,1905616.0,1915947.0,1925614.0,1934408.0
Kansas,Midwest,2858190.0,2869225.0,2885257.0,2893212.0,2900475.0,2909011.0,2910844.0,2908718.0,2911359.0,2913314.0
Iowa,Midwest,3050745.0,3066336.0,3076190.0,3092997.0,3109350.0,3120960.0,3131371.0,3141550.0,3148618.0,3155070.0

In [228]:
statespopDF.sort_values(['Region','y2010'], ascending = [False, True]).head()

,Region,y2010,y2011,y2012,y2013,y2014,y2015,y2016,y2017,y2018,y2019
Wyoming,West,564487.0,567299.0,576305.0,582122.0,582531.0,585613.0,584215.0,578931.0,577601.0,578759.0
Alaska,West,713910.0,722128.0,730443.0,737068.0,736283.0,737498.0,741456.0,739700.0,735139.0,731545.0
Montana,West,990697.0,997316.0,1003783.0,1013569.0,1021869.0,1030475.0,1040859.0,1052482.0,1060665.0,1068778.0
Hawaii,West,1363963.0,1379329.0,1394804.0,1408243.0,1414538.0,1422052.0,1427559.0,1424393.0,1420593.0,1415872.0
Hawaii,West,1363963.0,1379329.0,1394804.0,1408243.0,1414538.0,1422052.0,1427559.0,1424393.0,1420593.0,1415872.0

### ANSWER 9 ii

In [229]:
statespopDF.sort_values(['Region','y2019'], ascending = [True, False]).head()

,Region,y2010,y2011,y2012,y2013,y2014,y2015,y2016,y2017,y2018,y2019
Illinois,Midwest,12840503.0,12867454.0,12882510.0,12895129.0,12884493.0,12858913.0,12820527.0,12778828.0,12723071.0,12671821.0
Ohio,Midwest,11539336.0,11544663.0,11548923.0,11576684.0,11602700.0,11617527.0,11634370.0,11659650.0,11676341.0,11689100.0
Michigan,Midwest,9877510.0,9882412.0,9897145.0,9913065.0,9929848.0,9931715.0,9950571.0,9973114.0,9984072.0,9986857.0
Indiana,Midwest,6490432.0,6516528.0,6537703.0,6568713.0,6593644.0,6608422.0,6634304.0,6658078.0,6695497.0,6732219.0
Missouri,Midwest,5995974.0,6010275.0,6024367.0,6040715.0,6056202.0,6071732.0,6087135.0,6106670.0,6121623.0,6137428.0

## Task 10

### 10 a

In [230]:
popDF.info()

<class 'pandas.core.frame.DataFrame'>
Index: 52 entries, Alabama to Puerto Rico
Data columns (total 12 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Region     50 non-null     object
 1   y2010      52 non-null     int32
 2   y2011      52 non-null     int32
 3   y2012      52 non-null     int32
 4   y2013      52 non-null     int32
 5   y2014      52 non-null     int32
 6   y2015      52 non-null     int32
 7   y2016      52 non-null     int32
 8   y2017      52 non-null     int32
 9   y2018      52 non-null     int32
 10  y2019      52 non-null     int32
 11  RegionAll  52 non-null     object
dtypes: int32(10), object(2)
memory usage: 5.3+ KB

In [231]:
popDF.describe()

,y2010,y2011,y2012,y2013,y2014,y2015,y2016,y2017,y2018,y2019
count,5.200000e+01,5.200000e+01,5.200000e+01,5.200000e+01,5.200000e+01,5.200000e+01,5.200000e+01,5.200000e+01,5.200000e+01,5.200000e+01
mean,6.020061e+06,6.062223e+06,6.105105e+06,6.145900e+06,6.189152e+06,6.232854e+06,6.275923e+06,6.313670e+06,6.343863e+06,6.373716e+06
std,6.778446e+06,6.842115e+06,6.907269e+06,6.969339e+06,7.040326e+06,7.112407e+06,7.176089e+06,7.229217e+06,7.268729e+06,7.301997e+06
min,5.644870e+05,5.672990e+05,5.763050e+05,5.821220e+05,5.825310e+05,5.856130e+05,5.842150e+05,5.789310e+05,5.776010e+05,5.787590e+05
25%,1.764843e+06,1.776482e+06,1.788808e+06,1.793237e+06,1.794895e+06,1.794302e+06,1.793862e+06,1.792182e+06,1.790852e+06,1.790876e+06
50%,4.092836e+06,4.120928e+06,4.142674e+06,4.163564e+06,4.188796e+06,4.220884e+06,4.264079e+06,4.297946e+06,4.321520e+06,4.342705e+06
75%,6.610438e+06,6.666844e+06,6.721518e+06,6.775982e+06,6.835611e+06,6.913171e+06,7.029497e+06,7.138846e+06,7.249485e+06,7.362761e+06
max,3.731950e+07,3.763837e+07,3.794880e+07,3.826079e+07,3.859697e+07,3.891804e+07,3.916712e+07,3.935850e+07,3.946159e+07,3.951222e+07

### 10 b

In [239]:
np.log(popDF['y2019']).sample(5)

Indiana     15.722415
Kentucky    15.312378
New York    16.783541
Illinois    16.354891
Iowa        14.964521
Name: y2019, dtype: float64

In [240]:
#Add scalar to a column
(np.add(popDF['y2018'], 1000)).tail()

Washington       7524869
West Virginia    1805291
Wisconsin        5808406
Wyoming           578601
Puerto Rico      3194354
Name: y2018, dtype: int32

In [66]:
(popDF['y2018'].add(1000)).tail()

Washington       7524869
West Virginia    1805291
Wisconsin        5808406
Wyoming           578601
Puerto Rico      3194354
Name: y2018, dtype: int32

In [65]:
(popDF['y2018'] + 1000).tail()

Washington       7524869
West Virginia    1805291
Wisconsin        5808406
Wyoming           578601
Puerto Rico      3194354
Name: y2018, dtype: int32

In [242]:
((popDF['y2019'] - popDF['y2018']) / popDF['y2018']).nsmallest(10)

West Virginia   -0.006731
Alaska          -0.004889
Illinois        -0.004028
New York        -0.003932
Hawaii          -0.003323
Louisiana       -0.002338
Connecticut     -0.001745
Mississippi     -0.001634
Vermont         -0.000591
New Jersey      -0.000432
dtype: float64

### ANSWER 10 i

In [67]:
(popDF['y2019'] / popDF['y2019'].max()).nlargest(5)

California      1.000000
Texas           0.733846
Florida         0.543572
New York        0.492343
Pennsylvania    0.324001
Name: y2019, dtype: float64

### 10 c

In [246]:
#To obtain the mean within numeric columns
popDF.loc[:, 'y2010' : 'y2019'].mean(axis = 0)

y2010    6.020061e+06
y2011    6.062223e+06
y2012    6.105105e+06
y2013    6.145900e+06
y2014    6.189152e+06
y2015    6.232854e+06
y2016    6.275923e+06
y2017    6.313670e+06
y2018    6.343863e+06
y2019    6.373716e+06
dtype: float64

In [248]:
#To find the index (row label, here state) with the lowest value within each specified column
popDF.loc[:, ['y2017','y2018','y2019']].idxmin()

y2017    Wyoming
y2018    Wyoming
y2019    Wyoming
dtype: object

In [250]:
#To find the index (row label, here state) with the highest value within each specified column
popDF[['y2015','y2019']].idxmax()

y2015    California
y2019    California
dtype: object

In [251]:
#To get a correlation matrix for numeric data
popDF.corr(numeric_only = True)

,y2010,y2011,y2012,y2013,y2014,y2015,y2016,y2017,y2018,y2019
y2010,1.000000,0.999983,0.999924,0.999832,0.999661,0.999390,0.999045,0.998670,0.998250,0.997784
y2011,0.999983,1.000000,0.999978,0.999920,0.999791,0.999569,0.999269,0.998933,0.998551,0.998121
y2012,0.999924,0.999978,1.000000,0.999981,0.999904,0.999739,0.999494,0.999206,0.998870,0.998486
y2013,0.999832,0.999920,0.999981,1.000000,0.999969,0.999859,0.999666,0.999423,0.999130,0.998787
y2014,0.999661,0.999791,0.999904,0.999969,1.000000,0.999959,0.999835,0.999653,0.999416,0.999130
y2015,0.999390,0.999569,0.999739,0.999859,0.999959,1.000000,0.999957,0.999847,0.999677,0.999457
y2016,0.999045,0.999269,0.999494,0.999666,0.999835,0.999957,1.000000,0.999966,0.999868,0.999715
y2017,0.998670,0.998933,0.999206,0.999423,0.999653,0.999847,0.999966,1.000000,0.999968,0.999877
y2018,0.998250,0.998551,0.998870,0.999130,0.999416,0.999677,0.999868,0.999968,1.000000,0.999969
y2019,0.997784,0.998121,0.998486,0.998787,0.999130,0.999457,0.999715,0.999877,0.999969,1.000000

### ANSWER 10 ii

In [269]:
popDF.loc[:, 'y2015':'y2019'].mean(axis = 1).nsmallest(5)

Wyoming                 581023.8
Vermont                 624312.8
District of Columbia    692683.4
Alaska                  737067.6
North Dakota            756716.8
dtype: float64

## Task 11

### 11 a

In [270]:
popDF['2019_pctg'] = (popDF['y2019'] - popDF['y2018']) / popDF['y2018']

In [271]:
popDF.head()

,Region,y2010,y2011,y2012,y2013,y2014,y2015,y2016,y2017,y2018,y2019,RegionAll,2019_pctg
Alabama,South,4785437,4799069,4815588,4830081,4841799,4852347,4863525,4874486,4887681,4903185,South,0.003172
Alaska,West,713910,722128,730443,737068,736283,737498,741456,739700,735139,731545,West,-0.004889
Arizona,West,6407172,6472643,6554978,6632764,6730413,6829676,6941072,7044008,7158024,7278717,West,0.016861
Arkansas,South,2921964,2940667,2952164,2959400,2967392,2978048,2989918,3001345,3009733,3017804,South,0.002682
California,West,37319502,37638369,37948800,38260787,38596972,38918045,39167117,39358497,39461588,39512223,West,0.001283

### ANSWER 11 i

In [285]:
popDF['CAGR'] = (popDF['y2019'] / popDF['y2015']) ** (1/4) - 1
popDF['CAGR'].head(3).round(4)

Alabama    0.0026
Alaska    -0.0020
Arizona    0.0160
Name: CAGR, dtype: float64

### 11 b

In [286]:
popDF[['y2019']].apply(lambda x : np.exp((x-x.mean()) / x.std())).head()

                y2019
Alabama      0.817596
Alaska       0.461770
Arizona      1.131947
Arkansas     0.631544
California  93.529812

In [287]:
def expstandardize(x) :
    return np.exp((x-x.mean()) / x.std())

popDF[['y2019']].apply(expstandardize).head()

                y2019
Alabama      0.817596
Alaska       0.461770
Arizona      1.131947
Arkansas     0.631544
California  93.529812

In [289]:
popDF[['y2018','y2019']].apply(expstandardize).head()

                y2018      y2019
Alabama      0.818456   0.817596
Alaska       0.462262   0.461770
Arizona      1.118523   1.131947
Arkansas     0.632108   0.631544
California  95.220181  93.529812

### ANSWER 11 ii

In [68]:
popDF['coeffofvar'] = popDF.loc[:,'y2010':'y2019'].apply(lambda x : x.std() / x.mean(), axis = 1)

In [69]:
popDF['coeffofvar'].head()

Alabama       0.007912
Alaska        0.011668
Arizona       0.043586
Arkansas      0.010494
California    0.020558
Name: coeffofvar, dtype: float64

### 11 c

In [70]:
popDF[['y2019','y2018']].agg(['count','sum','min','max','mean','var','skew','kurt','median','idxmax','idxmin'])

                       y2019                  y2018
count                     52                     52
sum                331433217              329880855
min                   578759                 577601
max                 39512223               39461588
mean          6373715.711538         6343862.596154
var     53319155868013.71875  52834425015918.351562
skew                2.720718               2.725588
kurt                8.973894               9.038025
median             4342705.0              4321519.5
idxmax            California             California
idxmin               Wyoming                Wyoming

In [71]:
popDF[['y2019','y2018']].agg({'y2019': ['min','max'], 'y2018': ['var','std']})

          y2019         y2018
min    578759.0           NaN
max  39512223.0           NaN
var         NaN  5.283443e+13
std         NaN  7.268729e+06

In [72]:
popDF[['y2019','y2018']].agg({'y2019': ['min','max'], 'y2018': ['var','std', np.min, np.max]})

C:\Users\Perez Parra\AppData\Local\Temp\ipykernel_3880\2816743024.py:1: FutureWarning: The provided callable <function min at 0x00000215A3DF7600> is currently using Series.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "min" instead.
  popDF[['y2019','y2018']].agg({'y2019': ['min','max'], 'y2018': ['var','std', np.min, np.max]})
C:\Users\Perez Parra\AppData\Local\Temp\ipykernel_3880\2816743024.py:1: FutureWarning: The provided callable <function max at 0x00000215A3DF74C0> is currently using Series.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  popDF[['y2019','y2018']].agg({'y2019': ['min','max'], 'y2018': ['var','std', np.min, np.max]})

          y2019         y2018
min    578759.0  5.776010e+05
max  39512223.0  3.946159e+07
var         NaN  5.283443e+13
std         NaN  7.268729e+06

### 11 d

In [321]:
#To compute the mean population for two years (2010 and 2019) within each Region (sorted by Region)
popDF[['Region', 'y2010', 'y2019']].groupby(['Region']).mean().sort_values(['Region'])

                  y2010         y2019
Region
Midwest    5.581201e+06  5.694084e+06
Northeast  6.153348e+06  6.220311e+06
South      7.141341e+06  7.804669e+06
West       5.546187e+06  6.026713e+06

In [324]:
popDF.groupby(['Region'])[['y2019','y2010']].agg(['min','idxmin','max','idxmax','mean'])

            y2019                                                     y2010  \
              min        idxmin       max      idxmax          mean     min
Region
Midwest    762062  North Dakota  12671821    Illinois  5.694084e+06  674715
Northeast  623989       Vermont  19453561    New York  6.220311e+06  625879
South      973764      Delaware  28995881       Texas  7.804669e+06  899593
West       578759       Wyoming  39512223  California  6.026713e+06  564487


                 idxmin       max      idxmax          mean
Region
Midwest    North Dakota  12840503    Illinois  5.581201e+06
Northeast       Vermont  19399878    New York  6.153348e+06
South          Delaware  25241971       Texas  7.141341e+06
West            Wyoming  37319502  California  5.546187e+06

### ANSWER 11 iii

In [354]:
popDF['mean2019popbyReg'] = popDF.groupby('Region')['y2019'].transform('mean')
popDF['mean2019popbyReg'].head()

Region
South   Alabama       7.804669e+06
West    Alaska        6.026713e+06
        Arizona       6.026713e+06
South   Arkansas      7.804669e+06
West    California    6.026713e+06
Name: mean2019popbyReg, dtype: float64