# Exercise 3 :  (DataFrames) - Data Processing using U.S. Census Data

## Task 0.

### Completed by: Vandana

## Task 1. Import libraries

In [1]:
import numpy as np
import pandas as pd

### ** ANSWER 1: obtain the package versions **

In [2]:
pd.__version__

'1.4.4'

## Task 2. Creating a Dataframe from reading in a file

To read data from a csv we use **pd.read_csv()** function

### 2a. Reading simply with no optional parameters

In [3]:
statespopDF = pd.read_csv("census_statespop.csv")

### ** ANSWER 2.i. View the top10 rows **

In [4]:
# View the data at the top

statespopDF.head(10)

,STATE,REGION,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,POPESTIMATE2013,POPESTIMATE2014,POPESTIMATE2015,POPESTIMATE2016,POPESTIMATE2017,POPESTIMATE2018,POPESTIMATE2019
0,Alabama,South,4785437.0,4799069.0,4815588.0,4830081.0,4841799.0,4852347.0,4863525.0,4874486.0,4887681.0,4903185.0
1,Alaska,West,713910.0,722128.0,730443.0,737068.0,736283.0,737498.0,741456.0,739700.0,735139.0,731545.0
2,Arizona,West,6407172.0,6472643.0,6554978.0,6632764.0,6730413.0,6829676.0,6941072.0,7044008.0,7158024.0,7278717.0
3,Arkansas,South,2921964.0,2940667.0,2952164.0,2959400.0,2967392.0,2978048.0,2989918.0,3001345.0,3009733.0,3017804.0
4,California,West,37319502.0,37638369.0,37948800.0,38260787.0,38596972.0,38918045.0,39167117.0,39358497.0,39461588.0,39512223.0
5,Colorado,West,5047349.0,5121108.0,5192647.0,5269035.0,5350101.0,5450623.0,5539215.0,5611885.0,5691287.0,5758736.0
6,Connecticut,Northeast,3579114.0,3588283.0,3594547.0,3594841.0,3594524.0,3587122.0,3578141.0,3573297.0,3571520.0,3565287.0
7,Delaware,South,899593.0,907381.0,915179.0,923576.0,932487.0,941252.0,948921.0,956823.0,965479.0,973764.0
8,District of Columbia,NaN,605226.0,619800.0,634924.0,650581.0,662328.0,675400.0,685815.0,694906.0,701547.0,705749.0
9,Florida,South,18845537.0,19053237.0,19297822.0,19545621.0,19845911.0,20209042.0,20613477.0,20963613.0,21244317.0,21477737.0

### 2b. Reading with parameters

In [5]:
statespopDF = pd.read_csv("census_statespop.csv", 
                          sep = ',',                                                       # how are values separated
                          header = 0,                                                      # first row contains header 
                          names = ['Region'] + [i for i in range(10, 20)],                 # rename columns
                          index_col = 0)                                                   # what col to consider as row index
statespopDF.head(n=5)

,Region,10,11,12,13,14,15,16,17,18,19
Alabama,South,4785437.0,4799069.0,4815588.0,4830081.0,4841799.0,4852347.0,4863525.0,4874486.0,4887681.0,4903185.0
Alaska,West,713910.0,722128.0,730443.0,737068.0,736283.0,737498.0,741456.0,739700.0,735139.0,731545.0
Arizona,West,6407172.0,6472643.0,6554978.0,6632764.0,6730413.0,6829676.0,6941072.0,7044008.0,7158024.0,7278717.0
Arkansas,South,2921964.0,2940667.0,2952164.0,2959400.0,2967392.0,2978048.0,2989918.0,3001345.0,3009733.0,3017804.0
California,West,37319502.0,37638369.0,37948800.0,38260787.0,38596972.0,38918045.0,39167117.0,39358497.0,39461588.0,39512223.0

### ** ANSWER 2.ii.  Change year column names **

In [6]:
statespopDF = pd.read_csv("census_statespop.csv", 
                          sep = ',',                                                         # how are values separated
                          header = 0,                                                        # first row contains header 
                          names = ['Region'] + ['y' + str(i) for i in range(2010, 2020)],   # rename columns
                          index_col = 0)                                                  # what col to consider as row index
statespopDF.head(n=5)

,Region,y2010,y2011,y2012,y2013,y2014,y2015,y2016,y2017,y2018,y2019
Alabama,South,4785437.0,4799069.0,4815588.0,4830081.0,4841799.0,4852347.0,4863525.0,4874486.0,4887681.0,4903185.0
Alaska,West,713910.0,722128.0,730443.0,737068.0,736283.0,737498.0,741456.0,739700.0,735139.0,731545.0
Arizona,West,6407172.0,6472643.0,6554978.0,6632764.0,6730413.0,6829676.0,6941072.0,7044008.0,7158024.0,7278717.0
Arkansas,South,2921964.0,2940667.0,2952164.0,2959400.0,2967392.0,2978048.0,2989918.0,3001345.0,3009733.0,3017804.0
California,West,37319502.0,37638369.0,37948800.0,38260787.0,38596972.0,38918045.0,39167117.0,39358497.0,39461588.0,39512223.0

## Task 3. Understanding the data

We can use a number of DataFrame attributes to learn about the data.

### Some useful attributes of DataFrame

In [7]:
# number of values

statespopDF.size

594

In [8]:
# obtain the index or row labels

statespopDF.index

Index([             'Alabama',               'Alaska',              'Arizona',
                   'Arkansas',           'California',             'Colorado',
                'Connecticut',             'Delaware', 'District of Columbia',
                    'Florida',              'Georgia',               'Hawaii',
                      'Idaho',             'Illinois',              'Indiana',
                       'Iowa',               'Kansas',             'Kentucky',
                  'Louisiana',                'Maine',             'Maryland',
              'Massachusetts',             'Michigan',            'Minnesota',
                'Mississippi',             'Missouri',              'Montana',
                   'Nebraska',               'Nevada',        'New Hampshire',
                 'New Jersey',           'New Mexico',             'New York',
             'North Carolina',         'North Dakota',                 'Ohio',
                   'Oklahoma',               'Oregon',         'Pennsylvania',
               'Rhode Island',       'South Carolina',         'South Dakota',
                  'Tennessee',                'Texas',                 'Utah',
                    'Vermont',             'Virginia',           'Washington',
              'West Virginia',            'Wisconsin',              'Wyoming',
                          nan,          'Puerto Rico',               'Hawaii'],
      dtype='object')

In [9]:
statespopDF.columns

Index(['Region', 'y2010', 'y2011', 'y2012', 'y2013', 'y2014', 'y2015', 'y2016',
       'y2017', 'y2018', 'y2019'],
      dtype='object')

In [10]:
# obtain the dtype of the values in each columns - they can be different dtypes
# str values are set as object dtype

statespopDF.dtypes

Region     object
y2010     float64
y2011     float64
y2012     float64
y2013     float64
y2014     float64
y2015     float64
y2016     float64
y2017     float64
y2018     float64
y2019     float64
dtype: object

### ** ANSWER 3.i:  Number of rows and columns of the DF**

In [11]:
# (rows, columns)

statespopDF.shape

(54, 11)

### ** ANSWER 3.ii:  data type of the column labels of the DF**

In [12]:
statespopDF.columns.dtype

dtype('O')

## Task 4. Indexing Dataframes - Selecting subsets of data 

Selecting a subset of the daat from the table of data requires specifying both rows and columns.\
We use [row, column] in that order - and notice the square brackets.

### 4a. Selecting only on columns (and not rows, all rows will be selected) 

#### DF[collabel] or DF[[collabels]]

Using column labels inside [] - we have to name the columns we want; if more than one create a list of colnames

In [13]:
# The below code gives us the Region column as a Series

statespopDF['Region'].head()

Alabama       South
Alaska         West
Arizona        West
Arkansas      South
California     West
Name: Region, dtype: object

In [14]:
# this returns a DataFrame

statespopDF[['Region']].head()

           Region
Alabama     South
Alaska       West
Arizona      West
Arkansas    South
California   West

In [15]:
statespopDF[['Region','y2010', 'y2011']].head()

           Region       y2010       y2011
Alabama     South   4785437.0   4799069.0
Alaska       West    713910.0    722128.0
Arizona      West   6407172.0   6472643.0
Arkansas    South   2921964.0   2940667.0
California   West  37319502.0  37638369.0

### 4b.  Label indexing: Selecting specifc rows and columns using labels

#### DF.loc[rowlabels, collabels]

loc[] allows us to specify either row labels or column labels or both. Further, we can use slicing (startlabel: endlabel: stride) or fancy indexing([label1, label2, ....]) on one or both dimensions. Use one : (or ::) to select all entries along that dimension.

NOTE: with slicing, endlabel is included

In [16]:
statespopDF.loc['Georgia']
#or
statespopDF.loc['Georgia', : ]

Region         South
y2010      9711881.0
y2011      9802431.0
y2012      9901430.0
y2013      9972479.0
y2014     10067278.0
y2015     10178447.0
y2016     10301890.0
y2017     10410330.0
y2018     10511131.0
y2019     10617423.0
Name: Georgia, dtype: object

In [17]:
statespopDF.loc['Georgia' : 'Minnesota']
# same as
statespopDF.loc['Georgia' : 'Minnesota' ,:]

,Region,y2010,y2011,y2012,y2013,y2014,y2015,y2016,y2017,y2018,y2019
Georgia,South,9711881.0,9802431.0,9901430.0,9972479.0,10067278.0,10178447.0,10301890.0,10410330.0,10511131.0,10617423.0
Hawaii,West,1363963.0,1379329.0,1394804.0,1408243.0,1414538.0,1422052.0,1427559.0,1424393.0,1420593.0,1415872.0
Idaho,West,1570746.0,1583910.0,1595324.0,1611206.0,1631112.0,1651059.0,1682380.0,1717715.0,1750536.0,1787065.0
Illinois,Midwest,12840503.0,12867454.0,12882510.0,12895129.0,12884493.0,12858913.0,12820527.0,12778828.0,12723071.0,12671821.0
Indiana,Midwest,6490432.0,6516528.0,6537703.0,6568713.0,6593644.0,6608422.0,6634304.0,6658078.0,6695497.0,6732219.0
Iowa,Midwest,3050745.0,3066336.0,3076190.0,3092997.0,3109350.0,3120960.0,3131371.0,3141550.0,3148618.0,3155070.0
Kansas,Midwest,2858190.0,2869225.0,2885257.0,2893212.0,2900475.0,2909011.0,2910844.0,2908718.0,2911359.0,2913314.0
Kentucky,South,4348181.0,4369821.0,4386346.0,4404659.0,4414349.0,4425976.0,4438182.0,4452268.0,4461153.0,4467673.0
Louisiana,South,4544532.0,4575625.0,4600972.0,4624527.0,4644013.0,4664628.0,4678135.0,4670560.0,4659690.0,4648794.0
Maine,Northeast,1327629.0,1328284.0,1327729.0,1328009.0,1330513.0,1328262.0,1331317.0,1334612.0,1339057.0,1344212.0
Maryland,South,5788645.0,5839419.0,5886992.0,5923188.0,5957283.0,5985562.0,6003323.0,6023868.0,6035802.0,6045680.0
Massachusetts,Northeast,6566307.0,6613583.0,6663005.0,6713315.0,6762596.0,6794228.0,6823608.0,6859789.0,6882635.0,6892503.0
Michigan,Midwest,9877510.0,9882412.0,9897145.0,9913065.0,9929848.0,9931715.0,9950571.0,9973114.0,9984072.0,9986857.0
Minnesota,Midwest,5310828.0,5346143.0,5376643.0,5413479.0,5451079.0,5482032.0,5522744.0,5566230.0,5606249.0,5639632.0

In [18]:
# use fancy indexing to select multiple columns or rows by naming them

statespopDF.loc[:,['Region','y2015']].head()

           Region       y2015
Alabama     South   4852347.0
Alaska       West    737498.0
Arizona      West   6829676.0
Arkansas    South   2978048.0
California   West  38918045.0

### ** ANSWER 4.i. Obtain the population for only the odd years using slicing with labels on the column values. Print just the first 5 rows. Use label indexing **

In [19]:
# use slicing to select multiple columns or rows by specifying a range

statespopDF.loc[:,'y2011':'y2019': 2].head(5)

                 y2011       y2013       y2015       y2017       y2019
Alabama      4799069.0   4830081.0   4852347.0   4874486.0   4903185.0
Alaska        722128.0    737068.0    737498.0    739700.0    731545.0
Arizona      6472643.0   6632764.0   6829676.0   7044008.0   7278717.0
Arkansas     2940667.0   2959400.0   2978048.0   3001345.0   3017804.0
California  37638369.0  38260787.0  38918045.0  39358497.0  39512223.0

### ** ANSWER 4.ii. Obtain the population for states starting at Georgia to Indiana for years 2012 to 2015 inclusive ** . Use label indexing in both dimensions

In [20]:
statespopDF.loc['Georgia':'Indiana','y2012':'y2015']

               y2012       y2013       y2014       y2015
Georgia    9901430.0   9972479.0  10067278.0  10178447.0
Hawaii     1394804.0   1408243.0   1414538.0   1422052.0
Idaho      1595324.0   1611206.0   1631112.0   1651059.0
Illinois  12882510.0  12895129.0  12884493.0  12858913.0
Indiana    6537703.0   6568713.0   6593644.0   6608422.0

### ** ANSWER 4.iii. Obtain the population for Georgia, Utah and Indiana for even years from 2012 to 2016 inclusive. Use label indexing in both dimensions **

In [21]:
# fancy label indexing on both dimensions

statespopDF.loc[['Georgia' ,'Utah', 'Indiana'], 'y2012' : 'y2016' : 2]

             y2012       y2014       y2016
Georgia  9901430.0  10067278.0  10301890.0
Utah     2853375.0   2936879.0   3041868.0
Indiana  6537703.0   6593644.0   6634304.0

### 4c.  Integer indexing: Selecting specifc rows and columns using int index

#### DF.iloc[rowindices, colindices]

.iloc[] allows us to specify integer indices rather than column or row label names. Just as with labels , we can specify startindex : endindex : stride

NOTE: in slicing with int indices, endindex is not included, stop at endindex -1

In [22]:
# select column index 0 and all rows

statespopDF.iloc[:, 0].head()

Alabama       South
Alaska         West
Arizona        West
Arkansas      South
California     West
Name: Region, dtype: object

In [23]:
# select one row with index = 0 and all columns 

statespopDF.iloc[0,]
#statespopDF.iloc[0, :]  # same  as above
#statespopDF.iloc[0, ::]  # same  as above

Region        South
y2010     4785437.0
y2011     4799069.0
y2012     4815588.0
y2013     4830081.0
y2014     4841799.0
y2015     4852347.0
y2016     4863525.0
y2017     4874486.0
y2018     4887681.0
y2019     4903185.0
Name: Alabama, dtype: object

In [24]:
# Select all rows and columns with every other year starting at 2010 (even years)

statespopDF.iloc[:,1::2].head()

                 y2010       y2012       y2014       y2016       y2018
Alabama      4785437.0   4815588.0   4841799.0   4863525.0   4887681.0
Alaska        713910.0    730443.0    736283.0    741456.0    735139.0
Arizona      6407172.0   6554978.0   6730413.0   6941072.0   7158024.0
Arkansas     2921964.0   2952164.0   2967392.0   2989918.0   3009733.0
California  37319502.0  37948800.0  38596972.0  39167117.0  39461588.0

In [25]:
# fancy integer indexing on both rows and columns

statespopDF.iloc[[0,2], [3, 5]]

             y2012      y2014
Alabama  4815588.0  4841799.0
Arizona  6554978.0  6730413.0

### ** ANSWER 4.iv. Obtain only the region information for every second state, and print the first 10 records. Use integer indexing in both dimensions **

In [26]:
statespopDF.iloc[::2,0].head(10)

Alabama                     South
Arizona                      West
California                   West
Connecticut             Northeast
District of Columbia          NaN
Georgia                     South
Idaho                        West
Indiana                   Midwest
Kansas                    Midwest
Louisiana                   South
Name: Region, dtype: object

## Task 5. Cleaning and pre-processing the data

### 5a. Determine which columns  have some missing values

In [27]:
statespopDF.isna()

,Region,y2010,y2011,y2012,y2013,y2014,y2015,y2016,y2017,y2018,y2019
Alabama,False,False,False,False,False,False,False,False,False,False,False
Alaska,False,False,False,False,False,False,False,False,False,False,False
Arizona,False,False,False,False,False,False,False,False,False,False,False
Arkansas,False,False,False,False,False,False,False,False,False,False,False
California,False,False,False,False,False,False,False,False,False,False,False
Colorado,False,False,False,False,False,False,False,False,False,False,False
Connecticut,False,False,False,False,False,False,False,False,False,False,False
Delaware,False,False,False,False,False,False,False,False,False,False,False
District of Columbia,True,False,False,False,False,False,False,False,False,False,False
Florida,False,False,False,False,False,False,False,False,False,False,False
Georgia,False,False,False,False,False,False,False,False,False,False,False
Hawaii,False,False,False,False,False,False,False,False,False,False,False
Idaho,False,False,False,False,False,False,False,False,False,False,False
Illinois,False,False,False,False,False,False,False,False,False,False,False
Indiana,False,False,False,False,False,False,False,False,False,False,False
Iowa,False,False,False,False,False,False,False,False,False,False,False
Kansas,False,False,False,False,False,False,False,False,False,False,False
Kentucky,False,False,False,False,False,False,False,False,False,False,False
Louisiana,False,False,False,False,False,False,False,False,False,False,False
Maine,False,False,False,False,False,False,False,False,False,False,False
Maryland,False,False,False,False,False,False,False,False,False,False,False
Massachusetts,False,False,False,False,False,False,False,False,False,False,False
Michigan,False,False,False,False,False,False,False,False,False,False,False
Minnesota,False,False,False,False,False,False,False,False,False,False,False
Mississippi,False,False,False,False,False,False,False,False,False,False,False
Missouri,False,False,False,False,False,False,False,False,False,False,False
Montana,False,False,False,False,False,False,False,False,False,False,False
Nebraska,False,False,False,False,False,False,False,False,False,False,False
Nevada,False,False,False,False,False,False,False,False,False,False,False
New Hampshire,False,False,False,False,False,False,False,False,False,False,False
New Jersey,False,False,False,False,False,False,False,False,False,False,False
New Mexico,False,False,False,False,False,False,False,False,False,False,False
New York,False,False,False,False,False,False,False,False,False,False,False
North Carolina,False,False,False,False,False,False,False,False,False,False,False
North Dakota,False,False,False,False,False,False,False,False,False,False,False
Ohio,False,False,False,False,False,False,False,False,False,False,False
Oklahoma,False,False,False,False,False,False,False,False,False,False,False
Oregon,False,False,False,False,False,False,False,False,False,False,False
Pennsylvania,False,False,False,False,False,False,False,False,False,False,False
Rhode Island,False,False,False,False,False,False,False,False,False,False,False
South Carolina,False,False,False,False,False,False,False,False,False,False,False
South Dakota,False,False,False,False,False,False,False,False,False,False,False
Tennessee,False,False,False,False,False,False,False,False,False,False,False
Texas,False,False,False,False,False,False,False,False,False,False,False
Utah,False,False,False,False,False,False,False,False,False,False,False
Vermont,False,False,False,False,False,False,False,False,False,False,False
Virginia,False,False,False,False,False,False,False,False,False,False,False
Washington,False,False,False,False,False,False,False,False,False,False,False
West Virginia,False,False,False,False,False,False,False,False,False,False,False
Wisconsin,False,False,False,False,False,False,False,False,False,False,False
Wyoming,False,False,False,False,False,False,False,False,False,False,False
NaN,True,True,True,True,True,True,True,True,True,True,True
Puerto Rico,True,False,False,False,False,False,False,False,False,False,False
Hawaii,False,False,False,False,False,False,False,False,False,False,False

In [28]:
# all columns appear to have null values

statespopDF.isna().any(axis = 0)
statespopDF.isna().any()

Region    True
y2010     True
y2011     True
y2012     True
y2013     True
y2014     True
y2015     True
y2016     True
y2017     True
y2018     True
y2019     True
dtype: bool

In [29]:
DF1 = statespopDF.isna()
DF1.any()

Region    True
y2010     True
y2011     True
y2012     True
y2013     True
y2014     True
y2015     True
y2016     True
y2017     True
y2018     True
y2019     True
dtype: bool

### ** ANSWER 5.i. How many columns have all null values? Use DF.all() method in your code**

In [30]:
# Answer is none

statespopDF.isna().all()
# or 
statespopDF.isna().all(axis=0)

Region    False
y2010     False
y2011     False
y2012     False
y2013     False
y2014     False
y2015     False
y2016     False
y2017     False
y2018     False
y2019     False
dtype: bool

In [31]:
# OR
# to count the numbers of columns with True (yes, they have all nulls)
# 0 columns

statespopDF.isnull().all().sum()

0

In [32]:
# an additional task (not part of the question) 
# let's find what rows have any null values. Row indices are found in a Series that is accessible by calling DF.index 
# need to specify axis = 1 in order to search within rows

statespopDF.index[statespopDF.isna().any(axis=1)]

Index(['District of Columbia', nan, 'Puerto Rico'], dtype='object')

### 5b. Count of nulls/non-nulls in each column

In [33]:
statespopDF.shape

(54, 11)

In [34]:
# count of non-missing values in each column
# we can see that there are missing values - Nan, NA, None) in all columns as count < rows
 
statespopDF.count()

Region    51
y2010     53
y2011     53
y2012     53
y2013     53
y2014     53
y2015     53
y2016     53
y2017     53
y2018     53
y2019     53
dtype: int64

### ** ANSWER 5.ii. How many rows have one or more missing values? You can use DF.count() **

In [35]:
statespopDF.count(axis = 1)

Alabama                 11
Alaska                  11
Arizona                 11
Arkansas                11
California              11
Colorado                11
Connecticut             11
Delaware                11
District of Columbia    10
Florida                 11
Georgia                 11
Hawaii                  11
Idaho                   11
Illinois                11
Indiana                 11
Iowa                    11
Kansas                  11
Kentucky                11
Louisiana               11
Maine                   11
Maryland                11
Massachusetts           11
Michigan                11
Minnesota               11
Mississippi             11
Missouri                11
Montana                 11
Nebraska                11
Nevada                  11
New Hampshire           11
New Jersey              11
New Mexico              11
New York                11
North Carolina          11
North Dakota            11
Ohio                    11
Oklahoma                11
Oregon                  11
Pennsylvania            11
Rhode Island            11
South Carolina          11
South Dakota            11
Tennessee               11
Texas                   11
Utah                    11
Vermont                 11
Virginia                11
Washington              11
West Virginia           11
Wisconsin               11
Wyoming                 11
NaN                      0
Puerto Rico             10
Hawaii                  11
dtype: int64

In [36]:
# an additional task (not part of the question): 
# How many rows have any missing values?

statespopDF.isna().any(axis = 1).sum()

3

In [37]:
# an additional task (not part of the question): 
# print just the rows that have one or more missing values.

statespopDF.loc[statespopDF.count(axis = 1) < statespopDF.columns.size , :  ]
#OR
statespopDF.loc[statespopDF.isna().any(axis = 1)]

,Region,y2010,y2011,y2012,y2013,y2014,y2015,y2016,y2017,y2018,y2019
District of Columbia,NaN,605226.0,619800.0,634924.0,650581.0,662328.0,675400.0,685815.0,694906.0,701547.0,705749.0
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Puerto Rico,NaN,3721525.0,3678732.0,3634488.0,3593077.0,3534874.0,3473232.0,3406672.0,3325286.0,3193354.0,3193694.0

### 5c. Dropping rows with all null values

In [38]:
# first determine and print rows that have all null values so we can verify

statespopDF.loc[statespopDF.isna().all(axis=1)]

,Region,y2010,y2011,y2012,y2013,y2014,y2015,y2016,y2017,y2018,y2019
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [39]:
# the below command will tell us which columns have all null values - the answer is None.

statespopDF.loc[:,statespopDF.isnull().all(axis=0)]

Empty DataFrame
Columns: []
Index: [Alabama, Alaska, Arizona, Arkansas, California, Colorado, Connecticut, Delaware, District of Columbia, Florida, Georgia, Hawaii, Idaho, Illinois, Indiana, Iowa, Kansas, Kentucky, Louisiana, Maine, Maryland, Massachusetts, Michigan, Minnesota, Mississippi, Missouri, Montana, Nebraska, Nevada, New Hampshire, New Jersey, New Mexico, New York, North Carolina, North Dakota, Ohio, Oklahoma, Oregon, Pennsylvania, Rhode Island, South Carolina, South Dakota, Tennessee, Texas, Utah, Vermont, Virginia, Washington, West Virginia, Wisconsin, Wyoming, nan, Puerto Rico, Hawaii]

In [40]:
# use the dropna() method of pd.DataFrame to specify to drop any rows (axis=0) where all values are Null/NA
# we can specify parameter axis = 1 to drop columns with all null values - but we dont have any in our dataset
# so it wont change the shape

statespopDF_dropna = statespopDF.dropna(axis = 0, how = 'all')

In [41]:
statespopDF_dropna.loc[statespopDF_dropna.isnull().all(axis=1)]

Empty DataFrame
Columns: [Region, y2010, y2011, y2012, y2013, y2014, y2015, y2016, y2017, y2018, y2019]
Index: []

### 5d. Frequency counts of values in rows

In [42]:
# What are the unique values of Region?

statespopDF_dropna['Region'].unique()

array(['South', 'West', 'Northeast', nan, 'Midwest'], dtype=object)

In [43]:
statespopDF_dropna['Region'].value_counts(dropna=False)

South        16
West         14
Midwest      12
Northeast     9
NaN           2
Name: Region, dtype: int64

### ** ANSWER 5.iii. Display the proportion of each unique value in 'Region' column. You can use Series.value_counts()**

In [44]:
statespopDF_dropna['Region'].value_counts(normalize = True)

South        0.313725
West         0.274510
Midwest      0.235294
Northeast    0.176471
Name: Region, dtype: float64

### 5e. Determine and remove duplicate rows

In [45]:
# check whether there are duplicate rows (across all or subset of columns specified using DF.duplicated(subset = [colnames])
# pd.DataFrame.duplicated() will produce a pd.Series that contains a boolean (True or False) for each row
# pd.Series.value_counts() produces frequency counts for categorical data


statespopDF_dropna.duplicated().value_counts()

False    52
True      1
dtype: int64

In [46]:
# keep the first occcurrence of duplicate entries, and 
# inplace - if set to True, changes the original DF, else if False, creates a new output DataFrame, which we will save

statespopDF_dropnadup = statespopDF_dropna.drop_duplicates(
                                                keep='first', inplace=False)

statespopDF_dropnadup.duplicated().value_counts()

False    52
dtype: int64

In [47]:
# keep = False will drop all duplicates

statespopDF_dropna.drop_duplicates(keep=False).head()

,Region,y2010,y2011,y2012,y2013,y2014,y2015,y2016,y2017,y2018,y2019
Alabama,South,4785437.0,4799069.0,4815588.0,4830081.0,4841799.0,4852347.0,4863525.0,4874486.0,4887681.0,4903185.0
Alaska,West,713910.0,722128.0,730443.0,737068.0,736283.0,737498.0,741456.0,739700.0,735139.0,731545.0
Arizona,West,6407172.0,6472643.0,6554978.0,6632764.0,6730413.0,6829676.0,6941072.0,7044008.0,7158024.0,7278717.0
Arkansas,South,2921964.0,2940667.0,2952164.0,2959400.0,2967392.0,2978048.0,2989918.0,3001345.0,3009733.0,3017804.0
California,West,37319502.0,37638369.0,37948800.0,38260787.0,38596972.0,38918045.0,39167117.0,39358497.0,39461588.0,39512223.0

### ** ANSWER 5.iv. What is the shape of statespopDF_dropnadup after dropping rows with all nulls and rows with duplicate values?  **

In [48]:
statespopDF_dropnadup.shape

(52, 11)

## Task 6. Deep copy and save to a file

Great! Now we have a DataFrame with no all-empty rows and no duplicate rows.\
We still have some missing values in the column Regions for territories  as they dont belong to the 4 regions.

### 6a. Make a deep copy

In [49]:
# make new deep copy and rename to shorten the name of the DF
popDF = statespopDF_dropnadup.copy(deep = True)

In [50]:
# we will use popDF going forth - ensure that it has shape (52,11)
popDF.shape

(52, 11)

### 6b. Save DF to a file

In [51]:
popDF.to_csv('Ex3popDF.csv', header = True, index = True )

### 6c. Read the data back in and change dtype of some columns

In [52]:
# ensure it worked correctly by reading it back in
popDF = pd.read_csv('Ex3popDF.csv', index_col = 0)
print(popDF.shape)
popDF.head()

(52, 11)

,Region,y2010,y2011,y2012,y2013,y2014,y2015,y2016,y2017,y2018,y2019
Alabama,South,4785437.0,4799069.0,4815588.0,4830081.0,4841799.0,4852347.0,4863525.0,4874486.0,4887681.0,4903185.0
Alaska,West,713910.0,722128.0,730443.0,737068.0,736283.0,737498.0,741456.0,739700.0,735139.0,731545.0
Arizona,West,6407172.0,6472643.0,6554978.0,6632764.0,6730413.0,6829676.0,6941072.0,7044008.0,7158024.0,7278717.0
Arkansas,South,2921964.0,2940667.0,2952164.0,2959400.0,2967392.0,2978048.0,2989918.0,3001345.0,3009733.0,3017804.0
California,West,37319502.0,37638369.0,37948800.0,38260787.0,38596972.0,38918045.0,39167117.0,39358497.0,39461588.0,39512223.0

In [53]:
popDF = popDF.astype(
    {'y2019': int, 
     'y2018': int, 
     'y2017': int, 
     'y2016': int, 
     'y2015': int, 
     'y2014': int, 
     'y2013': int, 
     'y2012': int, 
     'y2011': int, 
     'y2010': int
    })

In [54]:
# OR you can also write a for loop
for colname in popDF.columns[1:] :
    popDF[colname].astype(int)

In [55]:
# obtain dtypes of all columns

popDF.dtypes

Region    object
y2010      int32
y2011      int32
y2012      int32
y2013      int32
y2014      int32
y2015      int32
y2016      int32
y2017      int32
y2018      int32
y2019      int32
dtype: object

### ** ANSWER 6.i. If I set DF_b = DF_a, any changes made to DF_b will also be propagated to DF_a. True or False?  **

In [56]:
# answer is True

In [57]:
# demonstrating the difference between shallow and deep copies

popDF0 = statespopDF_dropnadup.copy(deep = True) # this creates a deep copy - each has its own copy of data and index

popDF1 = statespopDF_dropnadup  # shallow copy references the same memory location, so they share data and index

In [58]:
# see below that a change in popDF0 (deep copy) such as dropping a column, is not propagated to statespopDF_dropnadup

print(popDF0.columns)
popDF0.drop('y2019', inplace= True, axis=1, errors='ignore')
print(popDF0.columns)
print(statespopDF_dropnadup.columns)

Index(['Region', 'y2010', 'y2011', 'y2012', 'y2013', 'y2014', 'y2015', 'y2016',
       'y2017', 'y2018', 'y2019'],
      dtype='object')
Index(['Region', 'y2010', 'y2011', 'y2012', 'y2013', 'y2014', 'y2015', 'y2016',
       'y2017', 'y2018'],
      dtype='object')
Index(['Region', 'y2010', 'y2011', 'y2012', 'y2013', 'y2014', 'y2015', 'y2016',
       'y2017', 'y2018', 'y2019'],
      dtype='object')

In [59]:
# see below that a change in popDF1 (shallow copy) such as dropping a column, is propagated to statespopDF_dropnadup
# this raises a warning as well

print(popDF1.columns)
popDF1.drop('y2019', inplace= True, axis=1, errors='ignore')
print(popDF1.columns)
print(statespopDF_dropnadup.columns)

Index(['Region', 'y2010', 'y2011', 'y2012', 'y2013', 'y2014', 'y2015', 'y2016',
       'y2017', 'y2018', 'y2019'],
      dtype='object')
Index(['Region', 'y2010', 'y2011', 'y2012', 'y2013', 'y2014', 'y2015', 'y2016',
       'y2017', 'y2018'],
      dtype='object')
Index(['Region', 'y2010', 'y2011', 'y2012', 'y2013', 'y2014', 'y2015', 'y2016',
       'y2017', 'y2018'],
      dtype='object')

C:\Users\u0625859\AppData\Local\Temp\ipykernel_25556\3849157621.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  popDF1.drop('y2019', inplace= True, axis=1, errors='ignore')

### ** ANSWER 6.ii. When we save or write a DataFrame out to file, what parameter and value is used to indicate that column labels are included in the first row? (not the whole command, just the optional parameter and its value) **

In [60]:
# header = True

## 7. Indexing based on conditions

### 7a. Boolean indexing

In [61]:
popDF['y2019'] > 10000000

Alabama                 False
Alaska                  False
Arizona                 False
Arkansas                False
California               True
Colorado                False
Connecticut             False
Delaware                False
District of Columbia    False
Florida                  True
Georgia                  True
Hawaii                  False
Idaho                   False
Illinois                 True
Indiana                 False
Iowa                    False
Kansas                  False
Kentucky                False
Louisiana               False
Maine                   False
Maryland                False
Massachusetts           False
Michigan                False
Minnesota               False
Mississippi             False
Missouri                False
Montana                 False
Nebraska                False
Nevada                  False
New Hampshire           False
New Jersey              False
New Mexico              False
New York                 True
North Carolina           True
North Dakota            False
Ohio                     True
Oklahoma                False
Oregon                  False
Pennsylvania             True
Rhode Island            False
South Carolina          False
South Dakota            False
Tennessee               False
Texas                    True
Utah                    False
Vermont                 False
Virginia                False
Washington              False
West Virginia           False
Wisconsin               False
Wyoming                 False
Puerto Rico             False
Name: y2019, dtype: bool

In [62]:
popDF.loc[popDF['y2019']> 10000000 , :]

,Region,y2010,y2011,y2012,y2013,y2014,y2015,y2016,y2017,y2018,y2019
California,West,37319502,37638369,37948800,38260787,38596972,38918045,39167117,39358497,39461588,39512223
Florida,South,18845537,19053237,19297822,19545621,19845911,20209042,20613477,20963613,21244317,21477737
Georgia,South,9711881,9802431,9901430,9972479,10067278,10178447,10301890,10410330,10511131,10617423
Illinois,Midwest,12840503,12867454,12882510,12895129,12884493,12858913,12820527,12778828,12723071,12671821
New York,Northeast,19399878,19499241,19572932,19624447,19651049,19654666,19633428,19589572,19530351,19453561
North Carolina,South,9574323,9657592,9749476,9843336,9932887,10031646,10154788,10268233,10381615,10488084
Ohio,Midwest,11539336,11544663,11548923,11576684,11602700,11617527,11634370,11659650,11676341,11689100
Pennsylvania,Northeast,12711160,12745815,12767118,12776309,12788313,12784826,12782275,12787641,12800922,12801989
Texas,South,25241971,25645629,26084481,26480266,26964333,27470056,27914410,28295273,28628666,28995881

### ** ANSWER 7.i. Boolean indexing to select 'South' region states for years 2018 and 2019 **

In [63]:
popDF.loc[popDF['Region'] == 'South', ['Region', 'y2018', 'y2019']].head(10)

               Region     y2018     y2019
Alabama         South   4887681   4903185
Arkansas        South   3009733   3017804
Delaware        South    965479    973764
Florida         South  21244317  21477737
Georgia         South  10511131  10617423
Kentucky        South   4461153   4467673
Louisiana       South   4659690   4648794
Maryland        South   6035802   6045680
Mississippi     South   2981020   2976149
North Carolina  South  10381615  10488084

### ** ANSWER 7.ii. Boolean indexing to select states with 2019 population lies between 10M and 20M and show columns Region, y2018 and y2019 **

In [64]:
popDF.loc[(10000000 < popDF['y2019']) & 
          (popDF['y2019'] < 20000000) , ['Region', 'y2019']]

                   Region     y2019
Georgia             South  10617423
Illinois          Midwest  12671821
New York        Northeast  19453561
North Carolina      South  10488084
Ohio              Midwest  11689100
Pennsylvania    Northeast  12801989

### 7b. pd.Series.isin()

In [65]:
# to select from cell values, call use pd.Series.isin()

popDF.loc[popDF['Region'].isin(['Midwest']), ['Region', 'y2010', 'y2019']].head()

#popDF.loc[popDF['Region'] == 'Midwest', ['Region', 'y2010', 'y2019']].head()

           Region     y2010     y2019
Illinois  Midwest  12840503  12671821
Indiana   Midwest   6490432   6732219
Iowa      Midwest   3050745   3155070
Kansas    Midwest   2858190   2913314
Michigan  Midwest   9877510   9986857

In [66]:
popDF.loc[popDF['Region'].isin(['Midwest', 'South']), ['Region', 'y2010', 'y2019']].head(10)

           Region     y2010     y2019
Alabama     South   4785437   4903185
Arkansas    South   2921964   3017804
Delaware    South    899593    973764
Florida     South  18845537  21477737
Georgia     South   9711881  10617423
Illinois  Midwest  12840503  12671821
Indiana   Midwest   6490432   6732219
Iowa      Midwest   3050745   3155070
Kansas    Midwest   2858190   2913314
Kentucky    South   4348181   4467673

In [67]:
# To select from row labels, use pd.index.isin() - all columns where row matches ....

popDF.loc[popDF.index.isin(["Connecticut"])]

,Region,y2010,y2011,y2012,y2013,y2014,y2015,y2016,y2017,y2018,y2019
Connecticut,Northeast,3579114,3588283,3594547,3594841,3594524,3587122,3578141,3573297,3571520,3565287

In [68]:
popDF.loc[popDF.index != "Connecticut"].head(7)

,Region,y2010,y2011,y2012,y2013,y2014,y2015,y2016,y2017,y2018,y2019
Alabama,South,4785437,4799069,4815588,4830081,4841799,4852347,4863525,4874486,4887681,4903185
Alaska,West,713910,722128,730443,737068,736283,737498,741456,739700,735139,731545
Arizona,West,6407172,6472643,6554978,6632764,6730413,6829676,6941072,7044008,7158024,7278717
Arkansas,South,2921964,2940667,2952164,2959400,2967392,2978048,2989918,3001345,3009733,3017804
California,West,37319502,37638369,37948800,38260787,38596972,38918045,39167117,39358497,39461588,39512223
Colorado,West,5047349,5121108,5192647,5269035,5350101,5450623,5539215,5611885,5691287,5758736
Delaware,South,899593,907381,915179,923576,932487,941252,948921,956823,965479,973764

### ** ANSWER 7.iii. use Series.isin() to  select states with 2018 population > 10M and Region is in 'Northeast' and 'Midwest' ;  show columns Region and y2018 only **

In [69]:
popDF.loc[(popDF.Region.isin(['Northeast', 'Midwest'])) &
          (popDF.y2018 > 10000000), ['Region', 'y2018']].head()

                 Region     y2018
Illinois        Midwest  12723071
New York      Northeast  19530351
Ohio            Midwest  11676341
Pennsylvania  Northeast  12800922

### 7c. pd.DataFrame.filter() 

This works on labels only - row and columns labels.

Can use `DataFrame.filter()` which by default filters on column labels. Can be changed by setting axis parameter.\
For Series, it uses row labels by default

In [70]:
# select rows that contain 'New'

popDF.filter(like = "New" , axis=0)

,Region,y2010,y2011,y2012,y2013,y2014,y2015,y2016,y2017,y2018,y2019
New Hampshire,Northeast,1316762,1320202,1324232,1326622,1333341,1336350,1342307,1348787,1353465,1359711
New Jersey,Northeast,8799446,8828117,8844942,8856972,8864525,8867949,8870827,8885525,8886025,8882190
New Mexico,West,2064552,2080450,2087309,2092273,2089568,2089291,2091630,2091784,2092741,2096829
New York,Northeast,19399878,19499241,19572932,19624447,19651049,19654666,19633428,19589572,19530351,19453561

In [71]:
popDF.filter(items = ["Utah", 'Colorado', 'Arizona'] , axis=0)

,Region,y2010,y2011,y2012,y2013,y2014,y2015,y2016,y2017,y2018,y2019
Utah,West,2775332,2814384,2853375,2897640,2936879,2981835,3041868,3101042,3153550,3205958
Colorado,West,5047349,5121108,5192647,5269035,5350101,5450623,5539215,5611885,5691287,5758736
Arizona,West,6407172,6472643,6554978,6632764,6730413,6829676,6941072,7044008,7158024,7278717

In [72]:
# select rows where the index or row labels are made up of one or more spaces

popDF.filter(regex = "\s+" , axis=0)

,Region,y2010,y2011,y2012,y2013,y2014,y2015,y2016,y2017,y2018,y2019
District of Columbia,NaN,605226,619800,634924,650581,662328,675400,685815,694906,701547,705749
New Hampshire,Northeast,1316762,1320202,1324232,1326622,1333341,1336350,1342307,1348787,1353465,1359711
New Jersey,Northeast,8799446,8828117,8844942,8856972,8864525,8867949,8870827,8885525,8886025,8882190
New Mexico,West,2064552,2080450,2087309,2092273,2089568,2089291,2091630,2091784,2092741,2096829
New York,Northeast,19399878,19499241,19572932,19624447,19651049,19654666,19633428,19589572,19530351,19453561
North Carolina,South,9574323,9657592,9749476,9843336,9932887,10031646,10154788,10268233,10381615,10488084
North Dakota,Midwest,674715,685225,701176,722036,737401,754066,754434,754942,758080,762062
Rhode Island,Northeast,1053959,1053649,1054621,1055081,1055936,1056065,1056770,1055673,1058287,1059361
South Carolina,South,4635649,4671994,4717354,4764080,4823617,4891938,4957968,5021268,5084156,5148714
South Dakota,Midwest,816166,823579,833566,842316,849129,853988,862996,872868,878698,884659
West Virginia,South,1854239,1856301,1856872,1853914,1849489,1842050,1831023,1817004,1804291,1792147
Puerto Rico,NaN,3721525,3678732,3634488,3593077,3534874,3473232,3406672,3325286,3193354,3193694

In [73]:
# we can also use regular expressions within filter using the paramater regex=''
# Let us select states with double letters

popDF.filter(regex = "([A-Za-z])\\1" , axis=0)
#OR
popDF.filter(regex = r"([A-Za-z])\1" , axis=0)

,Region,y2010,y2011,y2012,y2013,y2014,y2015,y2016,y2017,y2018,y2019
Connecticut,Northeast,3579114,3588283,3594547,3594841,3594524,3587122,3578141,3573297,3571520,3565287
Hawaii,West,1363963,1379329,1394804,1408243,1414538,1422052,1427559,1424393,1420593,1415872
Illinois,Midwest,12840503,12867454,12882510,12895129,12884493,12858913,12820527,12778828,12723071,12671821
Massachusetts,Northeast,6566307,6613583,6663005,6713315,6762596,6794228,6823608,6859789,6882635,6892503
Minnesota,Midwest,5310828,5346143,5376643,5413479,5451079,5482032,5522744,5566230,5606249,5639632
Mississippi,South,2970548,2978731,2983816,2988711,2990468,2988471,2987938,2988510,2981020,2976149
Missouri,Midwest,5995974,6010275,6024367,6040715,6056202,6071732,6087135,6106670,6121623,6137428
Pennsylvania,Northeast,12711160,12745815,12767118,12776309,12788313,12784826,12782275,12787641,12800922,12801989
Tennessee,South,6355311,6399291,6453898,6494340,6541223,6591170,6646010,6708799,6771631,6829174

In [74]:
popDF.loc[popDF.index.str.startswith("New")]

,Region,y2010,y2011,y2012,y2013,y2014,y2015,y2016,y2017,y2018,y2019
New Hampshire,Northeast,1316762,1320202,1324232,1326622,1333341,1336350,1342307,1348787,1353465,1359711
New Jersey,Northeast,8799446,8828117,8844942,8856972,8864525,8867949,8870827,8885525,8886025,8882190
New Mexico,West,2064552,2080450,2087309,2092273,2089568,2089291,2091630,2091784,2092741,2096829
New York,Northeast,19399878,19499241,19572932,19624447,19651049,19654666,19633428,19589572,19530351,19453561

### ** ANSWER 7.iv. Select all rows from popDF where the state starts with letters G or H or I. **

In [75]:
popDF.loc[ popDF.index.str.startswith('G') | 
      popDF.index.str.startswith('H') | 
      popDF.index.str.startswith('I') ]

,Region,y2010,y2011,y2012,y2013,y2014,y2015,y2016,y2017,y2018,y2019
Georgia,South,9711881,9802431,9901430,9972479,10067278,10178447,10301890,10410330,10511131,10617423
Hawaii,West,1363963,1379329,1394804,1408243,1414538,1422052,1427559,1424393,1420593,1415872
Idaho,West,1570746,1583910,1595324,1611206,1631112,1651059,1682380,1717715,1750536,1787065
Illinois,Midwest,12840503,12867454,12882510,12895129,12884493,12858913,12820527,12778828,12723071,12671821
Indiana,Midwest,6490432,6516528,6537703,6568713,6593644,6608422,6634304,6658078,6695497,6732219
Iowa,Midwest,3050745,3066336,3076190,3092997,3109350,3120960,3131371,3141550,3148618,3155070

You can also use regex or regular expression here, if you know what they are.

In [76]:
popDF.filter(regex = "^[GHI]" , axis=0)
#OR
popDF.filter(regex = "(^(G|H|I))" , axis=0)

,Region,y2010,y2011,y2012,y2013,y2014,y2015,y2016,y2017,y2018,y2019
Georgia,South,9711881,9802431,9901430,9972479,10067278,10178447,10301890,10410330,10511131,10617423
Hawaii,West,1363963,1379329,1394804,1408243,1414538,1422052,1427559,1424393,1420593,1415872
Idaho,West,1570746,1583910,1595324,1611206,1631112,1651059,1682380,1717715,1750536,1787065
Illinois,Midwest,12840503,12867454,12882510,12895129,12884493,12858913,12820527,12778828,12723071,12671821
Indiana,Midwest,6490432,6516528,6537703,6568713,6593644,6608422,6634304,6658078,6695497,6732219
Iowa,Midwest,3050745,3066336,3076190,3092997,3109350,3120960,3131371,3141550,3148618,3155070

## Task 8. Working with column and index labels/names after reading in the data

### 8a. Rename (some) columns

In [77]:
# rename() has a parameter columns that accepts a dict with old values:new values or we can use dict comprehension

popDF.rename(columns =
             {x : x[-4:] for x in popDF.columns[1:]}).head()

,Region,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
Alabama,South,4785437,4799069,4815588,4830081,4841799,4852347,4863525,4874486,4887681,4903185
Alaska,West,713910,722128,730443,737068,736283,737498,741456,739700,735139,731545
Arizona,West,6407172,6472643,6554978,6632764,6730413,6829676,6941072,7044008,7158024,7278717
Arkansas,South,2921964,2940667,2952164,2959400,2967392,2978048,2989918,3001345,3009733,3017804
California,West,37319502,37638369,37948800,38260787,38596972,38918045,39167117,39358497,39461588,39512223

### ** ANSWER 8.i. Rename year columns to y10, y11, etc. **

In [78]:
popDF.rename(columns = {x : x[0] + x[-2 : ] 
                        for x in popDF.columns[1:]})

,Region,y10,y11,y12,y13,y14,y15,y16,y17,y18,y19
Alabama,South,4785437,4799069,4815588,4830081,4841799,4852347,4863525,4874486,4887681,4903185
Alaska,West,713910,722128,730443,737068,736283,737498,741456,739700,735139,731545
Arizona,West,6407172,6472643,6554978,6632764,6730413,6829676,6941072,7044008,7158024,7278717
Arkansas,South,2921964,2940667,2952164,2959400,2967392,2978048,2989918,3001345,3009733,3017804
California,West,37319502,37638369,37948800,38260787,38596972,38918045,39167117,39358497,39461588,39512223
Colorado,West,5047349,5121108,5192647,5269035,5350101,5450623,5539215,5611885,5691287,5758736
Connecticut,Northeast,3579114,3588283,3594547,3594841,3594524,3587122,3578141,3573297,3571520,3565287
Delaware,South,899593,907381,915179,923576,932487,941252,948921,956823,965479,973764
District of Columbia,NaN,605226,619800,634924,650581,662328,675400,685815,694906,701547,705749
Florida,South,18845537,19053237,19297822,19545621,19845911,20209042,20613477,20963613,21244317,21477737
Georgia,South,9711881,9802431,9901430,9972479,10067278,10178447,10301890,10410330,10511131,10617423
Hawaii,West,1363963,1379329,1394804,1408243,1414538,1422052,1427559,1424393,1420593,1415872
Idaho,West,1570746,1583910,1595324,1611206,1631112,1651059,1682380,1717715,1750536,1787065
Illinois,Midwest,12840503,12867454,12882510,12895129,12884493,12858913,12820527,12778828,12723071,12671821
Indiana,Midwest,6490432,6516528,6537703,6568713,6593644,6608422,6634304,6658078,6695497,6732219
Iowa,Midwest,3050745,3066336,3076190,3092997,3109350,3120960,3131371,3141550,3148618,3155070
Kansas,Midwest,2858190,2869225,2885257,2893212,2900475,2909011,2910844,2908718,2911359,2913314
Kentucky,South,4348181,4369821,4386346,4404659,4414349,4425976,4438182,4452268,4461153,4467673
Louisiana,South,4544532,4575625,4600972,4624527,4644013,4664628,4678135,4670560,4659690,4648794
Maine,Northeast,1327629,1328284,1327729,1328009,1330513,1328262,1331317,1334612,1339057,1344212
Maryland,South,5788645,5839419,5886992,5923188,5957283,5985562,6003323,6023868,6035802,6045680
Massachusetts,Northeast,6566307,6613583,6663005,6713315,6762596,6794228,6823608,6859789,6882635,6892503
Michigan,Midwest,9877510,9882412,9897145,9913065,9929848,9931715,9950571,9973114,9984072,9986857
Minnesota,Midwest,5310828,5346143,5376643,5413479,5451079,5482032,5522744,5566230,5606249,5639632
Mississippi,South,2970548,2978731,2983816,2988711,2990468,2988471,2987938,2988510,2981020,2976149
Missouri,Midwest,5995974,6010275,6024367,6040715,6056202,6071732,6087135,6106670,6121623,6137428
Montana,West,990697,997316,1003783,1013569,1021869,1030475,1040859,1052482,1060665,1068778
Nebraska,Midwest,1829542,1840672,1853303,1865279,1879321,1891277,1905616,1915947,1925614,1934408
Nevada,West,2702405,2712730,2743996,2775970,2817628,2866939,2917563,2969905,3027341,3080156
New Hampshire,Northeast,1316762,1320202,1324232,1326622,1333341,1336350,1342307,1348787,1353465,1359711
New Jersey,Northeast,8799446,8828117,8844942,8856972,8864525,8867949,8870827,8885525,8886025,8882190
New Mexico,West,2064552,2080450,2087309,2092273,2089568,2089291,2091630,2091784,2092741,2096829
New York,Northeast,19399878,19499241,19572932,19624447,19651049,19654666,19633428,19589572,19530351,19453561
North Carolina,South,9574323,9657592,9749476,9843336,9932887,10031646,10154788,10268233,10381615,10488084
North Dakota,Midwest,674715,685225,701176,722036,737401,754066,754434,754942,758080,762062
Ohio,Midwest,11539336,11544663,11548923,11576684,11602700,11617527,11634370,11659650,11676341,11689100
Oklahoma,South,3759944,3788379,3818814,3853214,3878187,3909500,3926331,3931316,3940235,3956971
Oregon,West,3837491,3872036,3899001,3922468,3963244,4015792,4089976,4143625,4181886,4217737
Pennsylvania,Northeast,12711160,12745815,12767118,12776309,12788313,12784826,12782275,12787641,12800922,12801989
Rhode Island,Northeast,1053959,1053649,1054621,1055081,1055936,1056065,1056770,1055673,1058287,1059361
South Carolina,South,4635649,4671994,4717354,4764080,4823617,4891938,4957968,5021268,5084156,5148714
South Dakota,Midwest,816166,823579,833566,842316,849129,853988,862996,872868,878698,884659
Tennessee,South,6355311,6399291,6453898,6494340,6541223,6591170,6646010,6708799,6771631,6829174
Texas,South,25241971,25645629,26084481,26480266,26964333,27470056,27914410,28295273,28628666,28995881
Utah,West,2775332,2814384,2853375,2897640,2936879,2981835,3041868,3101042,3153550,3205958
Vermont,Northeast,625879,627049,626090,626210,625214,625216,623657,624344,624358,623989
Virginia,South,8023699,8101155,8185080,8252427,8310993,8361808,8410106,8463587,8501286,8535519
Washington,West,6742830,6826627,6897058,6963985,7054655,7163657,7294771,7423362,7523869,7614893
West Virginia,South,1854239,1856301,1856872,1853914,1849489,1842050,1831023,1817004,1804291,1792147
Wisconsin,Midwest,5690475,5705288,5719960,5736754,5751525,5760940,5772628,5790186,5807406,5822434
Wyoming,West,564487,567299,576305,582122,582531,585613,584215,578931,577601,578759
Puerto Rico,NaN,3721525,3678732,3634488,3593077,3534874,3473232,3406672,3325286,3193354,3193694

In [79]:
# original columns are the same as before
popDF.columns

Index(['Region', 'y2010', 'y2011', 'y2012', 'y2013', 'y2014', 'y2015', 'y2016',
       'y2017', 'y2018', 'y2019'],
      dtype='object')

### 8b. Create a new surrogate index (row labels) with value 0,1,2,..

In [80]:
# to add an incrementing integer index - use reset_index()

popDF_newindex = popDF.reset_index()

popDF_newindex.head()

,index,Region,y2010,y2011,y2012,y2013,y2014,y2015,y2016,y2017,y2018,y2019
0,Alabama,South,4785437,4799069,4815588,4830081,4841799,4852347,4863525,4874486,4887681,4903185
1,Alaska,West,713910,722128,730443,737068,736283,737498,741456,739700,735139,731545
2,Arizona,West,6407172,6472643,6554978,6632764,6730413,6829676,6941072,7044008,7158024,7278717
3,Arkansas,South,2921964,2940667,2952164,2959400,2967392,2978048,2989918,3001345,3009733,3017804
4,California,West,37319502,37638369,37948800,38260787,38596972,38918045,39167117,39358497,39461588,39512223

In [81]:
# We can use set.index() to choose any column to use an index/ row labels.

popDF_newindex = popDF_newindex.set_index('index')

popDF_newindex.head()

,Region,y2010,y2011,y2012,y2013,y2014,y2015,y2016,y2017,y2018,y2019
index,,,,,,,,,,,
Alabama,South,4785437,4799069,4815588,4830081,4841799,4852347,4863525,4874486,4887681,4903185
Alaska,West,713910,722128,730443,737068,736283,737498,741456,739700,735139,731545
Arizona,West,6407172,6472643,6554978,6632764,6730413,6829676,6941072,7044008,7158024,7278717
Arkansas,South,2921964,2940667,2952164,2959400,2967392,2978048,2989918,3001345,3009733,3017804
California,West,37319502,37638369,37948800,38260787,38596972,38918045,39167117,39358497,39461588,39512223

In [82]:
# cannot do the following as you cannot modify an index object
# popDF.index[0] = 'Japan'

In [83]:
popDF_newindex.shape

(52, 11)

### 8c. Drop columns

In [84]:
popDF_newindex.drop(['y2010'], axis = 1, inplace = True, errors = 'ignore')

popDF_newindex.head()

,Region,y2011,y2012,y2013,y2014,y2015,y2016,y2017,y2018,y2019
index,,,,,,,,,,
Alabama,South,4799069,4815588,4830081,4841799,4852347,4863525,4874486,4887681,4903185
Alaska,West,722128,730443,737068,736283,737498,741456,739700,735139,731545
Arizona,West,6472643,6554978,6632764,6730413,6829676,6941072,7044008,7158024,7278717
Arkansas,South,2940667,2952164,2959400,2967392,2978048,2989918,3001345,3009733,3017804
California,West,37638369,37948800,38260787,38596972,38918045,39167117,39358497,39461588,39512223

In [85]:
popDF.shape

(52, 11)

### ** ANSWER 8.ii. What does parameter errors='raise' in method DF.drop() do?  **

In [86]:
# It will throw an error when a column or row we are trying to drop does not exist.
# Otherwise no message will  be printed.

## Task 9. Columnar operations on the DF data

### 9a. Duplicate an existing column 

We may want to do this to  change some values based on a condition

recall that earlier we saw that two values are missing in the 'Region' column. Instead of changing the original column, create a new column called 'RegionAll' and change the null values there

In [87]:
# Create a new column. New columns are added to the end

popDF['RegionAll'] = popDF['Region']

In [88]:
popDF.columns

Index(['Region', 'y2010', 'y2011', 'y2012', 'y2013', 'y2014', 'y2015', 'y2016',
       'y2017', 'y2018', 'y2019', 'RegionAll'],
      dtype='object')

In [89]:
bmask = popDF['RegionAll'].isna()
popDF.loc[bmask, ['Region', 'RegionAll']]

                     Region RegionAll
District of Columbia    NaN       NaN
Puerto Rico             NaN       NaN

### ** ANSWER 9.i. What is the value of bmask for row with index label 'District' of Columbia' ? **

In [90]:
# True

# explanation
# bmask = popDF['RegionAll'].isna()
# bmask will be  a Series of boolean values- will be True when 'RegionALl' columns is missing. 
# This is case for only DC and PR
# everywhere else, Series bmask will be False

### 9b. Change specific values

In [91]:
popDF.loc['District of Columbia','RegionAll'] = "DC"
popDF.loc['Puerto Rico','RegionAll'] = "PR"

In [92]:
popDF.loc[bmask, ['Region', 'RegionAll']]

                     Region RegionAll
District of Columbia    NaN        DC
Puerto Rico             NaN        PR

In [93]:
# The above command may produce a warning- Pandas wants to be sure that you
# intend to change the value of the original DataFrame
# If it did give a warning, you can suppress this warning by issuing the following command
# prior to making or setting the value

pd.set_option('mode.chained_assignment',None)
popDF.loc['District of Columbia','RegionAll'] = "DC"
popDF.loc['Puerto Rico','RegionAll'] = "PR"

### 9c. Sorting values in columns

any missing values will be placed at the end (sorted last)

In [94]:
#sort by region first then by statepop in 2010, both ascending

statespopDF.sort_values(['Region', 'y2010']).head(5)

,Region,y2010,y2011,y2012,y2013,y2014,y2015,y2016,y2017,y2018,y2019
North Dakota,Midwest,674715.0,685225.0,701176.0,722036.0,737401.0,754066.0,754434.0,754942.0,758080.0,762062.0
South Dakota,Midwest,816166.0,823579.0,833566.0,842316.0,849129.0,853988.0,862996.0,872868.0,878698.0,884659.0
Nebraska,Midwest,1829542.0,1840672.0,1853303.0,1865279.0,1879321.0,1891277.0,1905616.0,1915947.0,1925614.0,1934408.0
Kansas,Midwest,2858190.0,2869225.0,2885257.0,2893212.0,2900475.0,2909011.0,2910844.0,2908718.0,2911359.0,2913314.0
Iowa,Midwest,3050745.0,3066336.0,3076190.0,3092997.0,3109350.0,3120960.0,3131371.0,3141550.0,3148618.0,3155070.0

In [95]:
statespopDF.sort_values(['Region', 'y2010'], ascending =[False, True]).head()

,Region,y2010,y2011,y2012,y2013,y2014,y2015,y2016,y2017,y2018,y2019
Wyoming,West,564487.0,567299.0,576305.0,582122.0,582531.0,585613.0,584215.0,578931.0,577601.0,578759.0
Alaska,West,713910.0,722128.0,730443.0,737068.0,736283.0,737498.0,741456.0,739700.0,735139.0,731545.0
Montana,West,990697.0,997316.0,1003783.0,1013569.0,1021869.0,1030475.0,1040859.0,1052482.0,1060665.0,1068778.0
Hawaii,West,1363963.0,1379329.0,1394804.0,1408243.0,1414538.0,1422052.0,1427559.0,1424393.0,1420593.0,1415872.0
Hawaii,West,1363963.0,1379329.0,1394804.0,1408243.0,1414538.0,1422052.0,1427559.0,1424393.0,1420593.0,1415872.0

### ** ANSWER 9.ii. Sort popDF on Region (asc) and y2019 (desc) and keep only Region and y2019 columns. View the first 5 rows. **

In [96]:
statespopDF.loc[:,['Region', 'y2019']]\
            .sort_values(['Region', 'y2019'], 
                ascending=[True, False])\
            .head()

#OR
statespopDF[['Region', 'y2019']]\
            .sort_values(['Region', 'y2019'], 
                         ascending=[True, False])\
            .head()

           Region       y2019
Illinois  Midwest  12671821.0
Ohio      Midwest  11689100.0
Michigan  Midwest   9986857.0
Indiana   Midwest   6732219.0
Missouri  Midwest   6137428.0

## Task 10. Computations on DF data: Mathematical and statistical operations

### 10a. Summary info and statistics

In [97]:
popDF.info()

<class 'pandas.core.frame.DataFrame'>
Index: 52 entries, Alabama to Puerto Rico
Data columns (total 12 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Region     50 non-null     object
 1   y2010      52 non-null     int32
 2   y2011      52 non-null     int32
 3   y2012      52 non-null     int32
 4   y2013      52 non-null     int32
 5   y2014      52 non-null     int32
 6   y2015      52 non-null     int32
 7   y2016      52 non-null     int32
 8   y2017      52 non-null     int32
 9   y2018      52 non-null     int32
 10  y2019      52 non-null     int32
 11  RegionAll  52 non-null     object
dtypes: int32(10), object(2)
memory usage: 5.3+ KB

In [98]:
popDF.describe()

,y2010,y2011,y2012,y2013,y2014,y2015,y2016,y2017,y2018,y2019
count,5.200000e+01,5.200000e+01,5.200000e+01,5.200000e+01,5.200000e+01,5.200000e+01,5.200000e+01,5.200000e+01,5.200000e+01,5.200000e+01
mean,6.020061e+06,6.062223e+06,6.105105e+06,6.145900e+06,6.189152e+06,6.232854e+06,6.275923e+06,6.313670e+06,6.343863e+06,6.373716e+06
std,6.778446e+06,6.842115e+06,6.907269e+06,6.969339e+06,7.040326e+06,7.112407e+06,7.176089e+06,7.229217e+06,7.268729e+06,7.301997e+06
min,5.644870e+05,5.672990e+05,5.763050e+05,5.821220e+05,5.825310e+05,5.856130e+05,5.842150e+05,5.789310e+05,5.776010e+05,5.787590e+05
25%,1.764843e+06,1.776482e+06,1.788808e+06,1.793237e+06,1.794895e+06,1.794302e+06,1.793862e+06,1.792182e+06,1.790852e+06,1.790876e+06
50%,4.092836e+06,4.120928e+06,4.142674e+06,4.163564e+06,4.188796e+06,4.220884e+06,4.264079e+06,4.297946e+06,4.321520e+06,4.342705e+06
75%,6.610438e+06,6.666844e+06,6.721518e+06,6.775982e+06,6.835611e+06,6.913171e+06,7.029497e+06,7.138846e+06,7.249485e+06,7.362761e+06
max,3.731950e+07,3.763837e+07,3.794880e+07,3.826079e+07,3.859697e+07,3.891804e+07,3.916712e+07,3.935850e+07,3.946159e+07,3.951222e+07


### 10b. Perform math operations on the data

#### Unary operations

In [99]:
# log of values in a a column

np.log(popDF['y2019']).sample(5)

New Mexico        14.555937
Idaho             14.396085
Iowa              14.964521
Illinois          16.354891
South Carolina    15.454258
Name: y2019, dtype: float64

#### Binary operations

In [100]:
(np.add(popDF['y2018'], 1000)).tail()  # using NumPy function np.add()
#OR
(popDF['y2018'].add(1000)).tail()   # using Pandas method pd.Series.add() - serves as a wrapper around + operator
#OR
(popDF['y2018'] + 1000).tail()      # shorthand notation for Pandas add function/method

# similar wrappers exist for -,*,/,//,%,**  -> sub,mul,div,mod,pow

Washington       7524869
West Virginia    1805291
Wisconsin        5808406
Wyoming           578601
Puerto Rico      3194354
Name: y2018, dtype: int32

In [101]:
((popDF['y2019'] - popDF['y2018']) / popDF['y2018']).nsmallest(n=10)

West Virginia   -0.006731
Alaska          -0.004889
Illinois        -0.004028
New York        -0.003932
Hawaii          -0.003323
Louisiana       -0.002338
Connecticut     -0.001745
Mississippi     -0.001634
Vermont         -0.000591
New Jersey      -0.000432
dtype: float64

### ** ANSWER 10.i. For each state, calculate the ratio of its 2019 population divided by the max population of all states in 2019.  Then print the state names and ratios for the 5 highest values. **

In [102]:
(popDF['y2019']/(popDF['y2019'].max())).nlargest()

California      1.000000
Texas           0.733846
Florida         0.543572
New York        0.492343
Pennsylvania    0.324001
Name: y2019, dtype: float64

### 10c. Perform stats operations on the data

In [103]:
popDF.loc[:, 'y2010' : 'y2019'].mean(axis=0)

y2010    6.020061e+06
y2011    6.062223e+06
y2012    6.105105e+06
y2013    6.145900e+06
y2014    6.189152e+06
y2015    6.232854e+06
y2016    6.275923e+06
y2017    6.313670e+06
y2018    6.343863e+06
y2019    6.373716e+06
dtype: float64

In [104]:
popDF.loc[:,['y2017', 'y2018', 'y2019']].idxmin()

y2017    Wyoming
y2018    Wyoming
y2019    Wyoming
dtype: object

In [105]:
popDF[['y2015', 'y2019']].idxmax()
# OR 
popDF.loc[:,['y2015', 'y2019']].idxmax()

y2015    California
y2019    California
dtype: object

In [106]:
popDF.corr()

,y2010,y2011,y2012,y2013,y2014,y2015,y2016,y2017,y2018,y2019
y2010,1.000000,0.999983,0.999924,0.999832,0.999661,0.999390,0.999045,0.998670,0.998250,0.997784
y2011,0.999983,1.000000,0.999978,0.999920,0.999791,0.999569,0.999269,0.998933,0.998551,0.998121
y2012,0.999924,0.999978,1.000000,0.999981,0.999904,0.999739,0.999494,0.999206,0.998870,0.998486
y2013,0.999832,0.999920,0.999981,1.000000,0.999969,0.999859,0.999666,0.999423,0.999130,0.998787
y2014,0.999661,0.999791,0.999904,0.999969,1.000000,0.999959,0.999835,0.999653,0.999416,0.999130
y2015,0.999390,0.999569,0.999739,0.999859,0.999959,1.000000,0.999957,0.999847,0.999677,0.999457
y2016,0.999045,0.999269,0.999494,0.999666,0.999835,0.999957,1.000000,0.999966,0.999868,0.999715
y2017,0.998670,0.998933,0.999206,0.999423,0.999653,0.999847,0.999966,1.000000,0.999968,0.999877
y2018,0.998250,0.998551,0.998870,0.999130,0.999416,0.999677,0.999868,0.999968,1.000000,0.999969
y2019,0.997784,0.998121,0.998486,0.998787,0.999130,0.999457,0.999715,0.999877,0.999969,1.000000

### ** ANSWER 10.ii. For each state, calculate the 5-year average population over the years 2015 to 2019 inclusive. Then print the state names and 5-year means for the 5 smallest values. **

In [107]:
popDF.loc[:,'y2015':'y2019'].mean(axis = 1).nsmallest()

#or 
popDF.loc[:,'y2015':'y2019'].mean(axis = 1)\
     .sort_values(ascending = True)\
     .head()

Wyoming                 581023.8
Vermont                 624312.8
District of Columbia    692683.4
Alaska                  737067.6
North Dakota            756716.8
dtype: float64

## Task 11. Creating new computed columns

### 11a. Create a new column with the % change in population between 2018 and 2019

In [108]:
popDF['2019_pctg'] = (popDF['y2019'] - popDF['y2018'])/popDF['y2018']

### ** ANSWER 11.i. Add a new column in popDF that contains the compound annual growth rate of population between 2014 and 2019.**

In [109]:
popDF['2019_5cagr'] = np.round( ((popDF['y2019']/ popDF['y2014'])**(1/5))-1 , 4 )
popDF['2019_5cagr'].head()

Alabama       0.0025
Alaska       -0.0013
Arizona       0.0158
Arkansas      0.0034
California    0.0047
Name: 2019_5cagr, dtype: float64

### 11b. More complex operations on data for which built-in functions may not exist. -  Using DF.apply()

In [110]:
popDF[['y2019']]\
    .apply(lambda x : np.exp((x - x.mean())/ x.std()))\
    .head()

                y2019
Alabama      0.817596
Alaska       0.461770
Arizona      1.131947
Arkansas     0.631544
California  93.529812

In [111]:
def expstandardize(x):
    return np.exp((x - x.mean() )/ x.std())

popDF[['y2019']].apply(expstandardize).head()

                y2019
Alabama      0.817596
Alaska       0.461770
Arizona      1.131947
Arkansas     0.631544
California  93.529812

In [112]:
popDF[['y2018','y2019']].apply(expstandardize, axis=0).head()

                y2018      y2019
Alabama      0.818456   0.817596
Alaska       0.462262   0.461770
Arizona      1.118523   1.131947
Arkansas     0.632108   0.631544
California  95.220181  93.529812

In [113]:
popDF.head()

,Region,y2010,y2011,y2012,y2013,y2014,y2015,y2016,y2017,y2018,y2019,RegionAll,2019_pctg,2019_5cagr
Alabama,South,4785437,4799069,4815588,4830081,4841799,4852347,4863525,4874486,4887681,4903185,South,0.003172,0.0025
Alaska,West,713910,722128,730443,737068,736283,737498,741456,739700,735139,731545,West,-0.004889,-0.0013
Arizona,West,6407172,6472643,6554978,6632764,6730413,6829676,6941072,7044008,7158024,7278717,West,0.016861,0.0158
Arkansas,South,2921964,2940667,2952164,2959400,2967392,2978048,2989918,3001345,3009733,3017804,South,0.002682,0.0034
California,West,37319502,37638369,37948800,38260787,38596972,38918045,39167117,39358497,39461588,39512223,West,0.001283,0.0047

### ANSWER 11.ii. Compute new column with coefficient of variation called coeffvar for population across years 2010-2019

In [114]:
#__________ = popDF[__________].apply(___________________, axis = ___)

In [115]:
popDF.columns[1:11]

Index(['y2010', 'y2011', 'y2012', 'y2013', 'y2014', 'y2015', 'y2016', 'y2017',
       'y2018', 'y2019'],
      dtype='object')

In [116]:
popDF['coeffvar'] = popDF[popDF.columns[1:11]]\
                            .apply(lambda x : (x.std()/x.mean()), axis=1)
popDF['coeffvar'].head()

Alabama       0.007912
Alaska        0.011668
Arizona       0.043586
Arkansas      0.010494
California    0.020558
Name: coeffvar, dtype: float64

### 11c. Aggregation operations using DF.agg()

In [117]:

popDF[['y2019', 'y2018']].agg(['count','sum', 'min', 'max', 
                               'mean', 'var', 'skew','kurt', 'median', 'idxmax', 'idxmin'])

                       y2019                  y2018
count                     52                     52
sum                331433217              329880855
min                   578759                 577601
max                 39512223               39461588
mean          6373715.711538         6343862.596154
var     53319155868013.71875  52834425015918.351562
skew                2.720718               2.725588
kurt                8.973894               9.038025
median             4342705.0              4321519.5
idxmax            California             California
idxmin               Wyoming                Wyoming

In [118]:
popDF[['y2019', 'y2018']].agg({'y2019': ['min','max'], 
                               'y2018' : ['var', 'std', np.min, np.max]})

           y2019         y2018
min     578759.0           NaN
max   39512223.0           NaN
var          NaN  5.283443e+13
std          NaN  7.268729e+06
amin         NaN  5.776010e+05
amax         NaN  3.946159e+07

### 11d. Performing grouping operations using DF.groupby()

In [119]:
# after specifying groupby(), observe that the output is a GroupByDataFrame object.

popDF[['Region','y2010','y2019']].groupby(['Region'])

In [120]:
# Groupby one (or more) column and return the mean of the remaining numeric columns in each group.

popDF[['Region','y2010','y2019']]\
                .groupby(['Region'])\
                .mean()\
                .sort_index()

                  y2010         y2019
Region
Midwest    5.581201e+06  5.694084e+06
Northeast  6.153348e+06  6.220311e+06
South      7.141341e+06  7.804669e+06
West       5.546187e+06  6.026713e+06

In [121]:
regionDF = popDF[['Region','y2010','y2019']]\
                    .groupby(['Region'])\
                    .agg(['mean', 'min', 'max'])\
                    .sort_index()

In [122]:
regionDF

                  y2010                           y2019
                   mean     min       max          mean     min       max
Region
Midwest    5.581201e+06  674715  12840503  5.694084e+06  762062  12671821
Northeast  6.153348e+06  625879  19399878  6.220311e+06  623989  19453561
South      7.141341e+06  899593  25241971  7.804669e+06  973764  28995881
West       5.546187e+06  564487  37319502  6.026713e+06  578759  39512223

### ANSWER 11.iii. Compute a new column with region means of year 2019's population.

In [123]:
popDF['mean2019popbyReg'] = (popDF[['Region', 'y2019']]\
                             .groupby('Region')\
                             .transform('mean'))

popDF[['mean2019popbyReg']].head()

            mean2019popbyReg
Alabama         7.804669e+06
Alaska          6.026713e+06
Arizona         6.026713e+06
Arkansas        7.804669e+06
California      6.026713e+06

In [124]:
# notice how if we dont use transform(), we will get a different output. 
# Now we only get group means for the 4 regions, whereas above we got a column of region means 
# for each state in popDF (yes some means will be repeated if states are in the same region).

(popDF[['Region', 'y2019']]\
                             .groupby('Region')\
                             .mean())

                  y2019
Region
Midwest    5.694084e+06
Northeast  6.220311e+06
South      7.804669e+06
West       6.026713e+06

# THE END